[2018-02-05 21:26] nschloe commented on #381
What I'm getting here is
[code]
This is with
[code]

[2018-02-05 21:29] KelSolaar commented on #381
This is my fault, I should have mentioned that the code is using latest [develop](https://github.com/colour-science/colour/tree/develop) branch. We have changed the whole spectral computations backend and there are some backward incompatible changes.

I could adjust the code for v0.3.10 if convenient for you though?

[2018-02-05 21:30] nschloe commented on #381
Let me just grad develop and try it out.

[2018-02-05 21:32] nschloe commented on #381
Alright, same result: exrdisplay shows
![w](https://user-images.githubusercontent.com/181628/35829823-6d8878d8-0ac4-11e8-9042-fc2379b8ecb8.png)
Perhaps I should you another viewer?

[2018-02-05 21:43] KelSolaar commented on #381
Oh right, this is the expected output, it is essentially a one pixel width image storing all the XYZ coordinates. I have used that because I can load it in [The Foundry Nuke](https://www.foundry.com/products/nuke) easily and it was more convenient to illustrate the SO thread than pushing data in MPL or Plot.ly.

Here is a Plot.ly example: https://plot.ly/~KelSolaar/91 and the generating code:

[co

[2018-02-05 21:54] nschloe commented on #381
Alright, I think I get it now. Here's an image of a small test code I wrote:
![d](https://user-images.githubusercontent.com/181628/35830374-516b36ac-0ac6-11e8-8aaf-5c192045f946.png)
One generates "block spectra" which are 0 everywhere except in a certain range of wavelengths, and computed the XYZ coordinates of that. The value of the block is simply set _some_ constant, e.g., 1; it doesn't really

[2018-02-05 22:17] KelSolaar commented on #381
As discussed on SO, it is a normalisation process, so you could scale the volume uniformly ideally.

Yes although it would not yield a very useful volume representation! :)

[2018-02-05 22:31] nschloe commented on #381
Yes, I guess you just scale the thing such that the full spectrum maps to [100,100,100]. Fair enough.

Let me say thanks _very_ much for the discussion! This really enhanced my understanding of color theory.

[2018-02-05 22:38] KelSolaar commented on #381
You are very much welcome!

[2018-02-06 04:44] KelSolaar commented on #381
Oh and before I forget if you are happy about the SO answer, would you mind accepting it please?

Cheers,

Thomas

[2018-02-06 13:06] nschloe commented on #381
Yeah, sure. Before that, it probably needs some cleaning up, and give the answer, too. :) For example:

I don't think this is true, is it? The maximum of CIE Y is 1 alright, but even if the functions were scaled in any other way, the shape would come up. It is rather a consequence of the fact that one restricts oneself to two values in the spectrum, 0 and alpha (where alpha is arbitrarily chosen),

[2018-02-06 13:52] nschloe commented on #381
Ah, I think now I understood something else: The visible gamut is the visible gamut _under a particular illuminant!_ Taking as "arbitrary" reference spectrum of all ones, corresponding to a perfectly white object, the integral
[code]
will give you the "whitest" color possible – under that illuminant. You're not just feeding square spectra into the observer, but chunks of the illuminant.

Setting t

[2018-02-06 18:39] KelSolaar commented on #381
Yes, I need to reformulate that part to account for the whole surface not just the upper limit, I originally did not understand what you were originally looking for.

[2018-02-06 19:58] KelSolaar commented on #381
Not really under a particular illuminant but under the Equal Energy illuminant which have constant radiant power.

The [CIE definition](http://eilv.cie.co.at/term/236) where every word is important is actually as follows:

**The colour matching functions are the tristimulus values of monochromatic stimuli of equal radiant power.**

It is the first sentence of our dedicated (not-up-to-date) noteboo

[2018-02-07 17:50] nschloe commented on #381
Thanks again for the replies. I think we're on the same page now.

Alright. What I meant to say is: It doesn't make sense to speak of the visible gamut _per se_, but only with an illuminant; equal energy, D65, pick your poison. That illuminant then shines upon the object to consider, and it reflects the wavelengths more or less well (β(λ)).

"Equal radiant power" actually means I can pick and, bec

[2018-02-07 20:06] KelSolaar commented on #381
We are probably entering the meta-discussion stage here. The way I see it is as follows, the HVS is a sensory system whose purpose is to measure something thus there is an envelope to the extent of what it is capable of measuring. The visible gamut represents the envelope for an event that would stimulate the sensor fully. It is obviously more complex because the envelope is relative and we don't

[2018-02-10 11:25] KelSolaar opened #382 "About a REST API."
Just to remember about it and have maybe people interested starting to discuss about it.

[2018-02-10 21:44] KelSolaar commented on #94
This is finally done!

[2018-02-10 21:44] #94 closed

[2018-02-12 05:58] #334 closed

[2018-02-14 13:35] nschloe commented on #381
Sure, feel free to close this one. For your extraordinary effort, I've awarded a 100 points bounty on stackoverflow. Thank you again!

[2018-02-14 13:37] nschloe opened #383 "Improvements to CIECAM02."
I recently implemented CIECAM02 (and CAM16) and found some improvements. colour could also profit from it. Check out https://arxiv.org/pdf/1802.06067.pdf?fname=cm&font=TypeI, in particular page 3, or its implementation in colorio https://github.com/nschloe/colorio/blob/master/colorio/ciecam02.py.

[2018-02-14 19:16] KelSolaar commented on #381
Thanks @nschloe, this is much appreciated!

[2018-02-14 19:16] #381 closed

[2018-02-14 19:18] KelSolaar commented on #383
That looks great @nschloe! I think it would be worth contacting the authors about it. We are usually not integrating anything that is not coming from _official_ literature though but will definitely keep an eye on it.

[2018-02-14 19:20] nschloe commented on #383
Yeah well I _am_ the author. Just a quick write-up right there.

[2018-02-14 19:21] KelSolaar commented on #383
Oh I was referring to the CAM16 authors :)

[2018-02-14 19:22] nschloe commented on #383
Ah yes. Okay, let's try to get officially endorsed. :)

[2018-02-14 22:38] KelSolaar commented on #383
That would be great!

[2018-02-17 04:12] #371 closed

[2018-02-17 08:46] KelSolaar opened #384 ""LLAB(l:c)" colour appearance model unit tests fails with "Pytest"."
@MichaelMauderer : I noticed that when trying [Pytest](https://docs.pytest.org/en/latest/):

[code]

[2018-02-18 22:55] cclauss opened #385 "Python 3 Syntax Error in "docs/conf.py" file."
flake8 testing of https://github.com/colour-science/colour on Python 3.6.4

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-02-20 06:10] KelSolaar commented on #385
@cclauss : Thank you, everything should be fixed now!

[2018-02-20 06:10] #385 closed

[2018-02-20 13:20] Edwardlin-zlt opened #386 "[help] How can i find out a color's dominant wavelength?"
since I've got a color's CIE-XYZ coordinate, and I try to find out its dominant wavelength.
can I achieve that by this module?

[2018-02-20 15:15] Ron024 commented on #386
Yes, please see dominant wavelength.
<https://colour.readthedocs.io/en/latest/generated/colour.dominant_wavelength.html#colour.dominant_wavelength>

On Tue, Feb 20, 2018 at 8:20 AM, Edward Amons <notifications@github.com>
wrote:

[2018-02-20 18:32] KelSolaar commented on #386
Hi @Edwardlin-zlt,

Yes, as @Ron024 said this is performed with the definition he linked. Typical usage, taken from the README.rst file is as follows:

[code]

[2018-02-21 02:04] Edwardlin-zlt commented on #386
Thanks~
You guys done a wonderful job~

[2018-02-21 02:04] #386 closed

[2018-02-21 02:53] KelSolaar commented on #386
Cheers and you are welcome @Edwardlin-zlt !

[2018-02-25 03:00] #350 closed

[2018-02-25 03:19] KelSolaar commented on #350
@MichaelMauderer : I implemented this one straight without going through code review, it is very simple, i.e. a matrix transform for each direction: https://github.com/colour-science/colour/blob/develop/colour/models/rgb/ycocg.py

[2018-02-26 05:48] #378 closed

[2018-02-27 09:11] shanest opened #388 "Example of "colour.RGB_to_XYZ" has value outside [0,1]."
In the docstring for RGB_to_XYZ, it's noted that values should be in [0,1]:
https://github.com/colour-science/colour/blob/master/colour/models/rgb/rgb_colourspace.py#L871

But in example_models.py, the one example of using this function provides a value > 1:
https://github.com/colour-science/colour/blob/master/colour/examples/models/examples_models.py#L71

This seems inconsistent and caused me som

[2018-02-27 10:14] KelSolaar commented on #388
Hi @shanest,

This is a very good point and something we should improve, so basically there are a few things at play here:

- The documentation is not exact in the sense that you can have RGB high dynamic range values that will go beyond 1, and you might also have out of gamut RGB values that will be negative and must be kept in order to not clip your data. We need to find a good way to convey tha

[2018-02-27 10:22] Nick-Shaw commented on #388
`Input *RGB* colourspace array is in domain [0, 1]` suggests "constrained to the range 0-1" but really it means it is normalised to that range. Values outside that range are still valid and meaningful. An sRGB value >1 represents a luminance higher than the peak white of an sRGB display, and while it cannot be shown on that display, it is meaningful to use in HDR calculations.

[2018-02-27 10:33] MichaelMauderer commented on #388
I agree that the terminology might be confusing and we have to clarify somewhat.  I also remember we agonised about the terminology here white a bit in the past...
Nick nicely explains the problem here. Maybe replacing "domain" with "normalised to" might already help a great deal.

I think in the long term it makes a lot of sense to be consistent across the API. But getting there without adding co

[2018-02-27 18:36] KelSolaar commented on #388
Yes absolutely.

I was thinking about it again and it is really hard to settle on _what is consistent_. As an example, the various Lightness and CIE L*a*b* functions output Lightness as a percentage, and somebody would be super confused if we were to divide their output by 100. I was looking [Bruce Lindbloom calculator](http://www.brucelindbloom.com/index.html?ColorCalculator.html) by curiosity an

[2018-02-27 21:57] nschloe commented on #18
I'm currently trying to get MacAdams ellipses plotted in [colorio](https://github.com/nschloe/colorio), but I'm somewhat at loss on how to interpret the data in [the original paper](https://doi.org/10.1364/JOSA.32.000247). Table 3 therein gives the ellipse data, but when plotting the x-y locations of the filter pairs, their connecting lines, and the average theta settings, I'm getting all but a co

[2018-02-28 01:37] KelSolaar commented on #18
I have never looked at that beyond saying would be great to have :)

[2018-02-28 08:46] KelSolaar opened #389 "Implement support for "DIN 99" colour difference."
References
-----------
- https://www.researchgate.net/publication/262186291_Colour_difference_formula_study
- https://www.techstreet.com/standards/din-6176?product_id=1054040

[2018-02-28 10:52] MichaelMauderer commented on #388
You are right. It would also be problematic to break with common conventions and definitions.

Maybe we should try to get an overview of all the different approaches in use right now.

[2018-02-28 12:45] nschloe commented on #18
Got it:

![d](https://user-images.githubusercontent.com/181628/36788224-5bf1ecd2-1c8d-11e8-8ec7-e59bafc54b3c.png)

Turns out that you have to use the `delta y/delta x` and `delta s` data (plus a curve fit) to reproduce the ellipses. I still have no idea how to correlate this with the actual measurements, but I guess that goes to show that you'll have to be very cautious when using MacAdam data for

[2018-02-28 19:55] KelSolaar commented on #18
Nice! PR Welcome ;)

[2018-02-28 20:30] iinnovations commented on #18
You’re going to have to parametrize these so that you can feed them into a geometry point in feature function anyway. I’ve done this in other languages and will run into this shortly here in python. I’ll send a PR when I get to it.

C

[2018-02-28 20:31] KelSolaar commented on #18
Thanks Colin (@iinnovations)!

[2018-02-28 20:35] KelSolaar commented on #388
@MichaelMauderer : There is actually a non-up-to-date spreadsheet here: https://docs.google.com/spreadsheets/d/1lYQgMcwCrToc5A76r2VYkRS5NQtu4BmPviQzzd6p1QM/edit?usp=sharing

[2018-03-02 05:52] tashdor opened #391 "Implement aesthetic options for RGB_chromaticity_coordinates_chromaticity_diagram_plot_CIE1931"
It would be great to have control over some parameters when plotting RGB samples on a CIE1931 diagram:
style (x, +, or circle)
fill color (black, white, rgb source color)
size (relative or width in pixels)

[2018-03-02 09:12] KelSolaar commented on #391
So I have added a `scatter_parameters` argument which get passed to [pylab.scatter](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.scatter.html) directly with defaults yielding the following plot:

**Defaults**

[code]

![image](https://user-images.githubusercontent.com/99779/36891442-8aa60e52-1e66-11e8-9b0f-d4bd8c10376f.png)

and with some customisations:

**Custom**

[code]

![image](https

[2018-03-02 09:17] Nick-Shaw commented on #391
Nice. I've ended up temporarily editing the parameters in the module before, to make the points more visible. Probably not an advised approach!

[2018-03-02 09:19] KelSolaar commented on #391
We might want to fine tune the defaults, the points were fine when plotting in Jupyter notebook but they are a tad big from command line right now.

[2018-03-02 09:26] Willingo commented on #391
I've always thought that the CIE model in 2D could be enhanced in a few
ways. Namely, the thickness of the line of the diagram is proportional the
Y color matching function (brightness), as this says how much a color point
of that wavelength is needed to pull other color points toward it.

Also, X, Y, and Z appear on the diagram. X is at (1,0), Y is at (0,1) and Z
is (0,0).

Thank you for your tim

[2018-03-02 09:38] KelSolaar commented on #391
@Willingo : Do you have an example image of what you are thinking about?

Cheers,

Thomas

[2018-03-02 09:52] Willingo commented on #391
No but I can probably implement it myself in Matlab quickly. Imagine
weighting the thickness of the locus to the intensity of the y color
matching function for a given nanomenter of light. Like, 553nm would be
thickest.

I can draw the XYZ (1,0),(0,1),(0,0) it out and explain how I think it is
useful. It allows one to know where a color point moves if you imagined
increasing the intensity of an in

[2018-03-02 09:54] Willingo commented on #391
It effectively gives you lumen / radiant watt. 't help much except to
realThis is useful in the lighting industry for energy reasons as well as
interpreting reflective curves, but maybe it's not that useful in general.

Thank you for your time,
William Coulter
(559)-901-4788

"There is nothing noble in being superior to your fellow man. True nobility
is being superior to your former self" -Ernest

[2018-03-02 10:27] KelSolaar commented on #391
@Willingo : Just to confirm, did you have something like that in mind?

![image](https://user-images.githubusercontent.com/99779/36894696-1d6c6f92-1e71-11e8-815a-93d2f628f535.png)

![image](https://user-images.githubusercontent.com/99779/36894711-2bc09f1e-1e71-11e8-9981-acce6d2fe99f.png)

[2018-03-02 17:19] tashdor commented on #391
This is all working great! What is the best way to limit the number of
samples created by read_image to speed up performance?

--
Tashi Trieu
720-206-4229
Tashi@TashiTrieu.com

On Fri, Mar 2, 2018 at 2:27 AM, Thomas Mansencal <notifications@github.com>
wrote:

[2018-03-02 19:20] KelSolaar commented on #391
You could try `RGB[::2, ::2, 3]`, `RGB[::4, ::4, 3]` to take every second or fourth pixels in the image, akin to nearest neighbour interpolation in Nuke or Photoshop. The clean way would be to resample the array with [scipy.misc.imresize](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.imresize.html) although I noticed it is on its way to deprecation.

[2018-03-02 19:24] tashdor commented on #391
I'm getting the error "IndexError: index 3 is out of bounds for axis 2 with
size 3" when using "RGB[::4, ::4, 3]"

--
Tashi Trieu
720-206-4229
Tashi@TashiTrieu.com

On Fri, Mar 2, 2018 at 11:20 AM, Thomas Mansencal <notifications@github.com>
wrote:

[2018-03-02 19:35] KelSolaar commented on #391
Sorry, my array slicing is incorrect, try something like that: `RGB[::2, ::2]`

[2018-03-03 06:14] KelSolaar commented on #391
I have updated the overall plotting and diagrams generation code, notable things:

- The `colour.plotting.DEFAULT_PLOTTING_COLOURSPACE` attribute can be overriden to define the colourspace used to render the relevant figures colours.
- The *Chromaticity Diagram* generation has been refactored so that tuning the *Spectral Locus* is easier:

[code]

![image](https://user-images.githubusercontent.com

[2018-03-03 06:44] tashdor commented on #391
Thanks! This is fantastic!

[2018-03-03 06:52] KelSolaar commented on #391
Thanks @tashdor! If you need anything else, let me know, I haven't implemented @Willingo suggestions yet as I'm not sure about what he wanted.

[2018-03-03 07:02] KelSolaar commented on #391
Oh and I removed most (still a few to go through) of the unneeded hardcoded styling elements, thus you can override globally marker size, line width, etc...:

[code]

![image](https://user-images.githubusercontent.com/99779/36931573-a64e045e-1f1d-11e8-9392-08643e082ae7.png)

[2018-03-03 07:03] tashdor commented on #391
Very cool. Is there a way to produce a diagram with alpha channel and with out the frame, header, or axes?

[2018-03-03 07:16] KelSolaar commented on #391
Something like that should do:

[code]

![Chromaticity Diagram](https://user-images.githubusercontent.com/99779/36931657-bb0682a2-1f1f-11e8-8d6c-127e4381a7eb.png)

[2018-03-06 06:36] #389 closed

[2018-03-07 06:24] KelSolaar commented on #388
So trying a few things:

**Original**

**A**

**B**

**C**

@MichaelMauderer , @Nick-Shaw : Any other forms or comments appreciated :)

[2018-03-10 05:31] KelSolaar commented on #388
We have settled on *B*.

[2018-03-10 05:44] #388 closed

[2018-03-10 09:13] #25 closed

[2018-03-10 22:21] KelSolaar commented on #357
@stakemura : I could not reproduce with *OpenImageIO 1.8.9*, I'll close this issue for now, feel free to add more details and I will re-open accordingly.

[2018-03-10 22:21] #357 closed

[2018-03-11 07:11] KelSolaar commented on #118
So interestingly this colourspace model is for use with *CIE 1964 10 Degree Standard Observer*, another notable feature is that there is no analytical reverse transform thus conversion from *OSA UCS* to  *CIE XYZ* must be performed through optimization.

[2018-03-13 10:59] #356 closed

[2018-03-14 19:14] #64 closed

[2018-03-22 09:00] #118 closed

[2018-03-24 00:45] KelSolaar opened #394 ""D60" chromaticity coordinates are incorrect."
It came to light when discussing with @aforsythe that our **D60** chromaticity coordinates are incorrect. The reason for that is that we are actually using the ACES whitepoint which is casually abbreviated **D60**.

I will have to regenerate a new spectral power distribution and the chromaticity coordinates for **D60**, the current one will be renamed **ACES**.

[2018-03-24 03:34] KelSolaar opened #395 "Add indoor daylight "iD50" and "iD65" illuminants."
References
---
- http://www.cie.co.at/publications/indoor-daylight-illuminants

[2018-03-24 09:07] KelSolaar commented on #394
The two whitepoints after updates:

| Whitepoint | Chromaticity Coordinates |
|------------|--------------------------|
| ACES       | [0.32168, 0.33767]       |
| D60        | [0.32163, 0.33774]       |

[2018-03-24 09:08] #394 closed

[2018-03-24 21:43] TFiFiE opened #396 "A Perception-based Color Space for Illumination-invariant Image Processing"
http://www.cs.harvard.edu/~sjg/papers/cspace.pdf

This is an easily implementable color space that could be a nice addition. The only small problem is that the authors didn't give it a name, so maybe name it after their initials, **CGZ**.

[2018-03-24 22:06] KelSolaar commented on #396
Hi @TFiFiE,

Thanks for the link! I will try to read through it. I think I came across it here already actually:

https://github.com/jflalonde/utils/blob/master/mycode/color/xyz2ill.m

[2018-04-03 19:31] KelSolaar opened #397 "Update "CIECAM02" dim induction factors."
References
---

https://github.com/njsmith/colorspacious/issues/14

[2018-04-03 19:37] #397 closed

[2018-04-06 20:37] KelSolaar opened #398 "Implement support for "Otsu et al. (2018)" reflectance recovery method."
References
---
- http://lightmetrica.org/h-otsu/project/rgb2spec/

[2018-04-15 04:44] codycuellar opened #399 "Change "DCI-P3" colourspace CCTFs to "Gamma 2.6" and implement support for "DCDM XYZ" colourspace."
The current P3-DCI colourspace utilizes the CCTFs that are actually defined for DCDM X'Y'Z'. The P3-DCI RGB colourspace is defined as having RGB encoding/decoding functions of gamma 2.6. The current EOTF and OETF should be moved and renamed to a different module (possibly DCDM_XYZ), and the P3-DCI colourspace should implement gamma 2.6.

Here's an example of usage that would make a little more sen

[2018-04-15 08:45] KelSolaar commented on #399
Thanks @codycuellar, totally makes sense!

[2018-04-15 10:42] #399 closed

[2018-04-15 10:43] KelSolaar commented on #399
@codycuellar: It should be in develop branch!

[2018-04-18 04:25] KelSolaar opened #400 "Fix incorrect computation of epsilon value for "hdr-CIELAB" and "hdr-IPT" 2011 colourspaces."
It seems like what was a multiplication in one of the equations for the 2010 models have been changed to a division.

*2010*

![image](https://user-images.githubusercontent.com/99779/38911654-ed509864-4324-11e8-9c56-49d95f866fe9.png)

*2011*

![image](https://user-images.githubusercontent.com/99779/38911669-02ddbf7c-4325-11e8-86ef-e00926014b0d.png)

[2018-04-18 19:56] codycuellar opened #401 "About ST2084 and PQ Implementation."
The current implementation of the ST2084 EOTF and OETF doesn't seem to behave correctly (at least in the applications I'm aware of). A true PQ curve is an absolute cv-nit scale. The normalized CVs of a few different nit levels are:

100 nit = 0.5081
600 nit = 0.6963
1000 nit = 0.7518
4000 = 0.9026

Here's Steve Shaw's write-up on the matter which further backs up my concerns: https://www.lightillu

[2018-04-18 20:49] KelSolaar commented on #401
Hi @codycuellar,

I'm not sure to follow you exactly, here is what I get trying to match your code values / output:

[code]

And the next above figure from Steve Shaw:

[code]

As you can see, we are bang on, so maybe I misunderstood something, which could be because I'm at work and very busy atm :)

[2018-04-18 22:42] Nick-Shaw commented on #401
Yes, I was confused too. Colour simply implements the transfer functions per spec (with the PQ EOTF returning absolute cd/m^2). Any scaling or clamping is up to the user. In general Colour doesn't clamp.

[2018-04-18 23:06] codycuellar commented on #401
The clamping isn't really the problem. That would just be a nice option, but can easily be done by the user. I'm specifically referring to the Peak luminance parameter of the function which I'm not understanding.

[code]
Here when you specify a peak luminance, the results are no longer absolute, they are scaled relative to the input peak luminance. But without implementing clipping, the L_p parame

[2018-04-18 23:12] KelSolaar commented on #401
Ahhh right, I get it, well the `L_p` parameter is exposed a bit in the same way the constants are exposed as parameters. It does not mean that you have to change `L_p` or the constants but it turns out that this is useful if you want to re-use the function and tweak it, e.g. fitting. the JzAzBz colourspace change the constants for example.

[2018-04-19 04:55] codycuellar commented on #401
Gotcha, that makes sense, then perhaps just the documentation is slightly misleading?
[code]
Since the display peak luminance will only affect clipping point, then it doesn't behave as documented. What do you think?

The second thing I pointed out on Gitter is the return value. I've explored some of the other transfer functions and most of them appear to take an encoded normalized float, and retur

[2018-04-19 09:13] Nick-Shaw commented on #401
I suppose the confusion is that e.g. for `eotf_BT1886` L_W defaults to 1.0, so it is normalised (but then BT.1886 is relative) whereas for `eotf_ST2084` L_p defaults to 10000, because PQ is absolute. L_p is "Display peak luminance" and L_W is "Screen luminance for white". It would be easy to think "display" and "screen" meant the same thing.

Obviously you can get a normalised (in the sense @codyc

[2018-04-19 09:16] #400 closed

[2018-04-19 09:25] KevinJW commented on #401
I'd avoid the 100cd/m^2 scaling. it is either normalised or absolute, if you want something custom, pass in a parameter.

My thought would be stick with absolute by default.

This is a little confusing as Rec 2100 suggestions for the floating point representation...

Normalization for display-referred signals
R = G = B = 1.0 represents 1.0 cd/m2 on the reference display.

Normalization for scene-r

[2018-04-19 09:46] Nick-Shaw commented on #401
I read the table in BT.2100 as referring not specifically to PQ, but to float HDR in general. So because HLG is notionally scene referred, they are defining both scene referred and display referred float codings for HDR, not just display referred for PQ.

[2018-04-19 10:10] Nick-Shaw opened #403 "Should all RED colour spaces use D65?"
https://github.com/colour-science/colour/blob/5f13cb1458da2d4840cd27f93575c30efdbb42e8/colour/models/rgb/dataset/red.py#L84

The legacy RED colour spaces use ACES as the illuminant, but I believe this is purely historical, because the primaries were derived from the OCIO ACES matrices. RED Wide Gamut RGB uses a D65 illuminant, because that came from a paper published by RED.

Would it not make sen

[2018-04-19 11:02] Nick-Shaw commented on #403
For reference, the primaries I calculated in the past for the RED colour spaces with D65 white were:

DragonColor
Red (0.758655892625, 0.330355348581)
Green (0.294923619819, 0.708053242057)
Blue (0.0859616011972, -0.0458794369685)

DragonColor2
Red (0.758656214203, 0.330355835732)
Green (0.294923887741, 0.708053363184)
Blue (0.144168726894, 0.0503573845986)

REDcolor
Red (0.701058563196, 0.3301809

[2018-04-19 20:31] KelSolaar commented on #403
@Nick-Shaw : I don't have a super strong opinion on that and was thinking about maybe changing to D65.

Did we get an official word on the illuminant by Graeme Natress, I remember him talking about whitepapers for their "colour science"?

[2018-04-20 13:09] Nick-Shaw commented on #403
Graeme has confirmed to me that he used D65 and Bradford CAT for all RED colour spaces.

[2018-04-20 21:48] KelSolaar commented on #403
Right that is great, let's go for the change then.

[2018-04-22 20:46] codycuellar commented on #401
Some good points here. @Nick-Shaw, I think you hit it on the head, perhaps I was the only one confused but the term display peak luminance, but I am trying to actually calculate XYZ values from pq displays at various peak luminance levels, so maybe something like you suggested 'system peak luminance' would make more sense for clarity.

Another thing that makes it a little bit grey-area is between

[2018-04-24 05:02] KelSolaar opened #404 "Implement support for CAM15u."
References
---
- https://www.ncbi.nlm.nih.gov/pubmed/25969293
- https://github.com/ksmet1977/CAM15u

[2018-04-26 05:55] #403 closed

[2018-04-27 21:03] KelSolaar opened #406 "About automated-conversion, default arguments and everything related."
@MichaelMauderer : So I don't want to step on your toes but I was poking at NetworkX a bit for some automated conversions to get a feel for it, nothing fancy but more as a test and to see what it would require.

So first a bit of simple code:

[code]

So a few things came to mind when doing so:

-  First and not directly related: scaling as initially thought when working in the Metadata branch is

[2018-04-28 21:30] sobotka opened #407 ""Edit on Github" button in documentation yields a 404 error."
http://colour.readthedocs.io/en/develop/_modules/colour/models/jzazbz.html

Hit "Edit on Github" 404s.

[2018-04-29 02:51] KelSolaar commented on #407
@sobotka : Thanks, I don't think we have ever written the `_modules` RST files containing the code anywhere, seems like this button should not exist when looking at the source code from the documentation. Will probably look on how to disable it.

[2018-04-29 02:53] KelSolaar commented on #407
`html_show_sourcelink = False` this option set in the `conf.py` file will remove the button although I guess we want to keep it for actual and maintained documentation files.

[2018-04-29 02:54] KelSolaar commented on #407
More information: https://github.com/sphinx-doc/sphinx/issues/2386

[2018-04-29 06:20] KelSolaar opened #408 "Implement support for "CIE 2017 Color Fidelity Index for Accurate Scientific Use"."
References
---

- http://www.cie.co.at/publications/cie-2017-colour-fidelity-index-accurate-scientific-use

[2018-05-03 10:56] KelSolaar commented on #63
@fangjy88: 4 years after it is almost in! :)

[2018-05-06 00:19] habemus-papadum opened #410 "Colour Questions for the VR Headset Age"
Thank you so much for providing this amazing resource!  As you probably know, a technical understanding of colour is not so easy for everyone, and having concrete code certainly is useful for someone like me.

I have two conceptual questions about colour that I've never found an appropriate forum in which to inquire.  I hope it's not too egregious for me to ask them here (with a little motivation

[2018-05-06 08:08] KelSolaar commented on #410
Hi @habemus-papadum,

Yes this is correct, respective [Photopsin](https://en.wikipedia.org/wiki/Photopsin) of the stimulated cone-type will bleach and you will not be able to see until they re-generate.

You would perceive the colour resulting from the light stimulus that excited your visual system.

**WARNING: Anybody reading what follows, please NEVER EVER LOOK AT A LASER, it would irremediably

[2018-05-06 14:47] habemus-papadum commented on #410
Thanks -- That is very helpful!  The notion of  photobleaching is a new concept and helps clarify the details involved.  I'll add my second question in another issue.  Cheers, nehal

[2018-05-06 14:47] #410 closed

[2018-05-11 15:58] #311 closed

[2018-05-11 19:58] KelSolaar commented on #311
@crowsonkb : Hey Katherine, any reason for closing the issue?

Cheers,

Thomas

[2018-05-12 19:47] crowsonkb opened #411 "Incorrect computation results of "CAM16"."
When I do the following in CAM16:

[code]

the output has high C/M/s (C = ~18). Meanwhile for CIECAM02 C is very low and it goes to zero when `discount_illuminant` is set to True. `discount_illuminant` does not fix this issue with CAM16—C of pure white is still ~18!

Admittedly I don't know whether CAM16 is *supposed* to behave this way, but it looks to be wrong behavior to me.

[2018-05-13 06:03] KelSolaar commented on #411
Hi @crowsonkb,

It is on my radar and I think our implementation is broken, I asked authors data to verify our computations but I never got an answer. I'll take a look again.

Cheers,

Thonas

[2018-05-13 06:17] KelSolaar commented on #411
I think I found out, https://github.com/colour-science/colour/blob/develop/colour/appearance/cam16.py#L235:

[code]

should be

[code]

`XYZ_w` must be changed to `Y_w`, I'll check further but this gets results that are consistent:

[code]

while before:

[code]

[2018-05-13 06:31] crowsonkb commented on #411
Making this change fixed the problem for me, and I get C ~1e-12 now when setting `discount_illuminant` to True.

[2018-05-13 06:32] KelSolaar commented on #411
Excellent! I'll push a change to `develop` very soon.

[2018-05-13 06:51] #411 closed

[2018-05-13 06:51] KelSolaar commented on #411
@crowsonkb: It is in `develop` as of now! Thanks Katherine.

[2018-05-13 13:26] MichaelMauderer commented on #406
No toe stepping. This looks very good.

Yes, internally it would be best to be consistent about the domain ranges that are expected and produced. But the final output could be rescaled to whatever the caller of the conversion wants.

We might also require those to be fed into the initial call and fail if they are not provided. (assuming no sensible default can be found for something)

We just need

[2018-05-18 20:41] KelSolaar commented on #406
I was leaning toward using still lowest common denominator, AKA sRGB.

I think this should be visible very quickly through the tests, we will have to update a few of them actually, so it should give us a good overview. Whenever we make that change, it will be done through a singular atomic PR to assess the extent.

Did you have time to look at #402?

[2018-05-23 08:25] Floschoe opened #414 "Controlling the annotation arrows of "colour.plotting.diagrams.spds_chromaticity_diagram_plot" definition."
When creating a plot for the standard 'D' illuminants the arrows overlap each other without an option to control them. Adding a way to control them would be marvelous.
![grafik](https://user-images.githubusercontent.com/33455817/40412448-a7c8b83e-5e73-11e8-889b-1ebcf4bc257d.png)

[2018-05-23 08:28] KelSolaar commented on #414
Thanks @Floschoe, I will expose some controls!

[2018-05-23 09:51] KelSolaar commented on #414
So I have pushed an update in the [feature/v0.3.12 branch](https://github.com/colour-science/colour/commit/b9a01dd0745159443555dc2d325d6b2789646264):

[code]

![image](https://user-images.githubusercontent.com/99779/40417227-621290b6-5ed3-11e8-8461-75549d1ea71e.png)

![image](https://user-images.githubusercontent.com/99779/40417240-67d8869a-5ed3-11e8-9aa8-8a45ca3eec7b.png)

[2018-05-23 23:10] KelSolaar commented on #414
I forgot to precise that `annotate_parameters` feed that definition: https://matplotlib.org/api/_as_gen/matplotlib.pyplot.annotate.html

[2018-06-06 10:08] #414 closed

[2018-06-07 11:21] habemus-papadum opened #415 "Spectral model (including intensity) for screen pixels?"
One great feature of `colour` is the wealth of reference data that is provides.

I was wondering if it would be possible to provide a model of absolute intensity values  (as of function of wavelength and direction) for the pixels found in common consumer devices (e.g iphone 8) or  even baseline models for a "typical" computer monitor pixel, "typical" phone, etc.  My background is mostly in the sci

[2018-06-14 08:04] KelSolaar commented on #415
Hi Nehal,

Sorry for the late answer, I have been smashed at work lately.

Seems like you are headed into very deep stuff which touches light fields and spectral rendering.

Yes but the could is highly hypothetical because you need to produce a display that would be able to emit the complete lightfield incoming at the eye.

Indeed! Most displays are using LCD or OLED which are simply not able to m

[2018-06-15 15:43] LaszloBalazs opened #416 ""colour.plotting.*_spd_colour_rendering_index_bars_plot" definitions show negative individual colour rendering as positive value."
There is a contradiction between calculated and plotted individual colour rendering index:
This is my test code:
import colour
import colour.plotting as cp
from colour import (ILLUMINANTS_RELATIVE_SPDS)
illuminant = ILLUMINANTS_RELATIVE_SPDS['F2']
a = colour.colour_rendering_index(illuminant, additional_data="True")
print(a.Q_as[9][1]) # The output is -83.9 which is correct
cp.single_spd_colour_re

[2018-06-15 16:44] scoopxyz opened #417 "Implement support for chromatic adaptation bypass in the relevant "colour.models.rgb.rgb_colourspace" module definitions."
The current implementation of `RGB_to_RGB_matrix` forces you to use a Chromatic Adaptation Transform in your calculation. There should be an option to bypass this.

Perhaps:
[code]

[2018-06-18 08:32] KelSolaar commented on #416
Sorry for the delay @LaszloBalazs.

Here we go!

![image](https://user-images.githubusercontent.com/99779/41525661-e2532ef4-7335-11e8-97e5-1a04912a7bd6.png)

[2018-06-18 08:32] #416 closed

[2018-06-18 08:49] KelSolaar commented on #417
Thanks @scoopxyz, will try to roll that in this week.

[2018-06-19 08:06] KelSolaar commented on #417
The following definitions have now support for CA bypass:

- `colour.XYZ_to_RGB`
- `colour.RGB_to_XYZ`,
- `colour.RGB_to_RGB_matrix`
-  `colour.RGB_to_RGB`

[2018-06-19 08:06] #417 closed

[2018-06-21 16:21] briend opened #418 "CIECAM from Q, s, h not possible?"
I was a bit surprised that the ciecam (02 and cam16) specification require JMh or JCh.  Shouldn't it allow (J or Q), (M or C or s), (h or H)?

[2018-06-21 19:36] KelSolaar commented on #418
Hi @briend,

You should indeed be able to reconstruct the needed data for the models to operate using a lot of different correlates combinations. We support JMh and JCh only at the moment because that is what we need to have the models working in the contexts we use them.

I won't have time to mathematically derive the other combinations anytime soon as there are more pressing issues. If you have

[2018-06-21 20:52] briend commented on #418
Thank you, it's not a pressing issue at all as I don't think Q and s are very useful for what I'm doing.  I was thinking maybe there was some other technical reason.  I'm switching my code from colorspacious to colour-science, so that I can use CAM16.  Thanks for all your great work!

[2018-06-21 21:29] briend opened #419 ""colour.CAM16_to_XYZ" definition expects "L_A" to be an array_like when "discount_illuminant=True"."
colour 0.3.11
numpy 1.14.0
scipy 1.0.0
python 3.6
[code]
I only need to make one of the L_As into an array to avoid the problem:
[code]

[2018-06-22 11:51] KelSolaar commented on #419
Cheers,

Will look at that tomorrow, seems straightforward fix! CIECAM02 is likely affected.

[2018-07-01 10:49] #369 closed

[2018-07-14 03:20] #63 closed

[2018-07-14 05:15] #419 closed

[2018-07-14 05:17] KelSolaar commented on #419
@briend : This should be fixed, sorry for the lag in making that done!

[2018-07-17 19:07] briend commented on #154
I've been struggling with finding a good gamut mapping algorithm for a CIECAM color adjuster/slider.  Since I don't need to consider an entire image, but rather just one color being changed, I thought this would be simple.  One complication is that I prefer the behavior of HSL versus HSV, where HSL allows a black-->chromatic--> white transition using only the Lightness slider, which implies that L

[2018-07-20 09:29] nick-shaw opened #420 "Should "oetf_DCDM" be called "eotf_reverse_DCDM"?"
https://github.com/colour-science/colour/blob/aee956f9f386e1ca8f7e5ed470025440534dbd4f/colour/models/rgb/transfer_functions/dcdm.py#L42
For consistency with e.g. BT.1886 and BT.2100, this should probably be referred to as a reverse EOTF. DCI spec does not define an OETF (AFAIK) as it is a display specification.

[2018-07-20 10:35] Nick-Shaw commented on #246
As an additional reference, here is a link to Barten's original paper:

- https://pure.tue.nl/ws/files/1613279/9901043.pdf

[2018-07-23 05:18] KelSolaar commented on #420
Yup!

[2018-08-10 14:27] Nick-Shaw opened #421 "Iridas .cube writer always writes domain attribute."
https://github.com/colour-science/colour/blob/8db0d07b342855521f03e080d9d149336a939965/colour/io/luts/iridas_cube.py#L234
The domain for an Iridas .cube should be (2, 3) whether the LUT is 2D or 3D. This line sets `default_domain` to [0, 1] for 2D LUTs, but then compares this to the (2, 3) domain of the LUT, and because they never match, always writes the domain lines to the file.

[2018-08-10 21:15] KelSolaar commented on #293
Thanks @Nick-Shaw!

I was looking at it back a few weeks ago and could not find anything relevant either after a few years.

Let's close this one for now.

[2018-08-10 21:15] #293 closed

[2018-08-11 03:32] KelSolaar commented on #421
Thanks @Nick-Shaw! I'm not sure what was the reasoning behind that.

I changed the line to `default_domain = np.array([[0, 0, 0], [1, 1, 1]])` which I think should fix the problem.

[2018-08-11 10:46] Nick-Shaw commented on #401
Playing devil's advocate, one argument for normalisation would be that because the PQ EOTF is applied to the three channels, the output is not actually absolute cd/m^2.

[code]
That is not "1000nits of red". It is "the red value which would produce 1000nits of white if both the other channels had the same value"!

In BT.2020, that triple would produce a luminance of 262.7 cd/m^2.

[2018-08-12 17:21] Nick-Shaw opened #422 "Add support for shaper LUTs."
The colour.io.luts module currently supports only 1D, 2D and 3D LUTs. I think it should be expanded to support "combined LUTs" which include a shaper which may be 1D or 2D. Although neither of the LUT file formats currently implemented support combined LUTs, other formats added in future will do. In fact some may support input and output shapers, so I suggest that the necessary groundwork for that

[2018-08-12 18:05] Nick-Shaw opened #423 "Add support for "Resolve" ".cube" LUTs."
Although at a base level, Resolve .cube is identical to Iridas .cube, when the domain is not implicitly 0-1, the domain declaration differs. There does not seem to be any official documentation on the Resolve .cube format, but it is detailed in this post by Resolve Product Manager Peter Chamberlain – https://forum.blackmagicdesign.com/viewtopic.php?f=21&t=40284#p232952

Resolve .cube does not supp

[2018-08-13 09:41] KelSolaar commented on #422
Yes as discussed on Slack, it makes total sense!

I think it will actually inherit from `LUT3D` and as far as the name goes he are some options:

- `LUTCombined`
- `LUTAggregate`
- `LUTAssembly` <--- My vote! :)

[2018-08-13 09:43] KelSolaar commented on #420
Yes!

[2018-08-13 09:45] KelSolaar commented on #401
I'm following, but for the sake of documentation for novices (and playing Devil's Advocate), it might be good to highlight how you came up with 262.7 cd/m^2! :)

[2018-08-13 09:46] KelSolaar commented on #423
Yes! I will address #422 first and we need the LUT conversion definitions too.

[2018-08-13 09:48] KelSolaar commented on #337
Bumping that one as we have most of this covered except for the plotting: http://colour.readthedocs.io/en/develop/colour.io.html#look-up-table-lut-data

More to come soon!

[2018-08-13 10:28] Nick-Shaw commented on #401
`>>> RGB_to_XYZ_matrix = colour.BT2020_COLOURSPACE.RGB_to_XYZ_matrix`
`>>> colour.dot_vector(RGB_to_XYZ_matrix, [1000, 0, 0])`
`array([ 636.9580483 ,  `**`262.70021201`**`,    0.        ])`

So Y = 262.7 (the second component of XYZ)

[2018-08-13 10:40] KelSolaar commented on #401
Thanks! :)

[2018-08-13 19:33] Nick-Shaw commented on #423
I have a simple 1D to 2D conversion method implemented in my fork - https://github.com/Nick-Shaw/colour/commit/c5c8fcbf9a6eec6f8a3d1defb4774ad8c02ff762

[2018-08-14 06:10] #421 closed

[2018-08-24 06:27] #422 closed

[2018-08-24 06:28] KelSolaar commented on #422
Implemented as `colour.LUTSequence` class.

[2018-08-26 20:26] KelSolaar commented on #423
Implement as per #426.

[2018-08-26 20:26] #423 closed

[2018-08-30 04:04] chesschi opened #427 "How to obtain the nits from the RGB value?"
A while ago I saw @Nick-Shaw has replied in this [forum](https://www.liftgammagain.com/forum/index.php?threads/convert-rgb-values-to-hdr-nit-values.9184/) that colour-science git repo provides several nice features such as `eotf_ST2084` and `oetf_ST2084` to convert values between nits and XYZ values.

In this forum, Pepijn Klijs mentioned that the LightSpace tool provides a nice GUI to convert the

[2018-08-30 08:35] Nick-Shaw commented on #427
Taking an example 10 bit RGB triple, [ 123, 456, 789 ] you would use the following code:
[code]
The luminance is the Y of XYZ, so the second component above, which is 106.9 nits in this example.

[2018-08-30 08:54] chesschi commented on #427
What a nice library, brilliant! Many thanks!

[2018-08-30 08:54] #427 closed

[2018-08-30 09:05] Nick-Shaw commented on #427
Add `colour.XYZ_to_xyY` onto the end of that sequence, and you get the chromaticity coordinates as well as the luminance.

[2018-09-05 07:31] #415 closed

[2018-09-05 07:32] #401 closed

[2018-09-05 16:03] Nick-Shaw opened #428 "Implement support for DJI D-Log and D-Gamut."
### **References**
https://dl.djicdn.com/downloads/zenmuse+x7/20171010/D-Log_D-Gamut_Whitepaper.pdf

[2018-09-07 20:13] robbuckley opened #429 "colour.plotting.multi_spd_plot() fails with AttributeError: "MultiSpectralPowerDistribution.__iter__" object has been removed from the API."
Colour version 0.3.11
Python version 3.7.0
NumPy 1.15.1
SciPy -- not imported

code snippet to repo is something like this:

[code]

[2018-09-11 19:52] KelSolaar commented on #429
Hi @robbuckley,

I just saw your message on [Gitter](https://gitter.im/colour-science/colour?at=5b97a975a04db554a70ca365), I now understand the issue and see that I missed the fact you were using a `MultiSpectralPowerDistribution`.

There is indeed no way to do that at the moment! I will create an enhancement ticket for it though.

[2018-09-11 19:56] KelSolaar opened #430 ""colour.plotting.multi_spd_plot" should be able to plot "colour. MultiSpectralPowerDistribution"."
This issue references #429.

It should be easily achievable by adding a new method to generate a sequence of `colour.SpectralPowerDistribution` class instances from `colour.MultiSpectralPowerDistribution`.

[2018-09-12 21:02] KelSolaar commented on #430
Right now I think that if you pass `MultiSpectralPowerDistribution.signals.values()` to `colour.plotting.multi_spd_plot` it should work.

[2018-09-13 09:47] KelSolaar commented on #430
I added a new `colour.MultiSpectralPowerDistribution.to_spds` method and `colour.plotting.multi_spd_plot` now handles `colour.MultiSpectralPowerDistribution`, whether directly or within the list of spectral power distributions.

[2018-09-13 09:47] #430 closed

[2018-09-13 09:48] KelSolaar commented on #429
This should be working now!

[2018-09-13 09:48] #429 closed

[2018-09-14 16:29] MichaelMauderer commented on #384
This might be a floating point precision issue.
The [reference calculations](http://rit-mcsl.org/fairchild/files/AppModEx.xls) for the failing test case contains differences betweens ome of `f(Xr)=0.58480350378`, `f(Yr)=0.58481250108` and `f(Zr)=0.58483880339`. Small differences in the initial values are exaggerated at this point.

Next I'll have to figure out which result is the correct one.

[2018-09-14 17:31] MichaelMauderer commented on #384
Actually it seems  our computations start diverging from the reference here when applying our [`LLAB_RGB_TO_XYZ_MATRIX `](https://github.com/colour-science/colour/blob/78c27bcce77006081f892c813ba5f6aeec937c0e/colour/appearance/llab.py#L414) is applied. I seem to recall that this already popped up somewhere else, since we compute this matrix instead of using constant values for it.

[2018-09-14 18:04] MichaelMauderer commented on #384
...and that issue should be fixed by using mock and replacing the matrix with its rounded version, which we still do.
So maybe it comes back to Pytest not working nice with mock here.

[2018-09-14 18:40] MichaelMauderer commented on #384
The fix for this is Pytest specific: to make the mock patch work for the yield based test, the test functions need to be decorated with `@pytest.fixture`.
When adding this decorator to `test_n_dimensional_examples` and `test_examples`, all test pass for me.

[2018-09-14 18:42] MichaelMauderer commented on #384
Since we are not currently using Pytest for our testing, I guess this can be closed for now.

[2018-09-14 18:42] #384 closed

[2018-09-18 06:59] KelSolaar opened #433 "Implement support for "Filmic Pro 6" log encoding curve."
References
---
- http://www.filmicpro.com/FilmicProUserManualv6.pdf

[2018-09-18 17:29] zachlewis commented on #337
Just wanted to say, this is really awesome work -- much appreciated!

[2018-09-18 21:43] sobotka opened #435 "Implement support for writing LUT Matrix formats."
Implement support for 3x3 matrices with offsets via spimtx etc.

[2018-09-20 06:28] KelSolaar commented on #435
@sobotka : What are your expectations in regard to the above? Do you want to write arbitrary matrices? Do you need a particular set of matrices, e.g. RGB to XYZ, RGB to RGB?

Something like that given a bit of massaging should be close to whatever *.spimtx* spec is:

[code]

[2018-09-20 21:03] sobotka commented on #435
I figured it fit in with the existing LUT support. Formatting and dumping a stanza to a text file as with the others more or less?

[2018-09-20 21:03] sobotka opened #436 "Implement support for Fuji "FLog" and "FGamut" colourspace."
http://www.fujifilm.com/support/digital_cameras/software/lut/

[2018-09-20 21:54] #433 closed

[2018-09-20 21:58] KelSolaar commented on #428
Ah this is good to know @KevinJW, we have a DJI camera at work and recently wanted to try it. I'll keep that in mind.

[2018-09-21 07:57] Nick-Shaw commented on #435
If we add `matrix`, `range` and `ASC_CDL` as `AbstractLUTSequenceOperator`s then we have all the operators that make up CLF, so have the building blocks to support that.

[2018-09-26 08:07] Nick-Shaw opened #437 "Difference in HLG constants between ARIB STD-B67 and ITU-R BT.2100."
In ARIB STD-B67 the constants a, b & c are all declared explicitly, whereas in ITU-R BT.2100 c is defined as a function of a. in ARIB STD-B67, `c = 0.55991073` whereas in BT.2100,`c = 0.5 - a * ln(4*a) = 0.559910729529562`. Since `itur_bt_2100.py` uses the functions from `arib_std_b67.py` for HLG, this is not strictly accurate.

In fact BT.2100 also defines b in terms of a, as `b = 1 - 4 * a` but

[2018-09-26 09:12] Nick-Shaw commented on #437
In fact, in BT.2100, NOTE 5b says "The values of b and c are calculated to b = 0.28466892, c = 0.55991073" so I suppose it is open to interpretation which value should be used.

[2018-09-27 08:54] KelSolaar opened #438 "Implement support for LED generation model of "Spectral design considerations for white LED color rendering"."
References
---
- Ohno, Y. (2005). Spectral design considerations for white LED color rendering. Optical Engineering, 44(11), 111302. doi:10.1117/1.2130694

I actually have implemented the single LED function here: https://colab.research.google.com/drive/1ipug7T0XEAPEjuezMinSIbnFoq29hHG3#scrollTo=mcs2Z0cC8UE9.

It was done as support for the following thread: https://colab.research.google.com/drive

[2018-09-27 09:36] KelSolaar commented on #437
Should we do it a bit similarly to what we did with *BT.2020*: https://github.com/colour-science/colour/blob/416858bb2ced37c10e90b82af3bdea9eecb538a2/colour/models/rgb/transfer_functions/itur_bt_2020.py#L57?

[2018-09-27 09:37] KelSolaar commented on #437
(and add some descriptive notes!)

[2018-09-27 10:04] Nick-Shaw commented on #437
That's probably a good idea – add the option for the perfectionists.
Of course in BT.2020 it makes a real difference, in that the curve segments do not join exactly unless you use the precise values. Here only the shape of the curve is modified imperceptibly in a way which probably makes no real difference.

[2018-10-01 07:56] #437 closed

[2018-10-30 19:56] sobotka opened #442 "Expose illuminant in "colour.recovery.XYZ_to_spectral_Meng2015" definition."
Would it be useful to expose the illuminant for adaptation reasons here?

[2018-10-31 10:43] KelSolaar commented on #442
Yep, I was coincidentally thinking about it last week when doing some spectral rendering!

[2018-11-24 10:21] #18 closed, assigned to nobody

[2018-11-25 16:38] sobotka opened #446 "Implement EETF 2390-4 Support"
To round out the functions of HDR support, the final piece seems to be the EETF for dynamic range compression as given on pages 20-21 of https://www.itu.int/dms_pub/itu-r/opb/rep/R-REP-BT.2390-4-2018-PDF-E.pdf

[2018-12-03 12:35] Nick-Shaw commented on #435
I've now created `ASC_CDL`, `Matrix` and `Range` operators in the `feature/CLF` branch as a stepping stone towards CLF support. So the ability to read, write and apply `.spimtx` files is there.

[2018-12-06 08:46] KelSolaar opened #448 "Investigate "Poetry"."
Adding that here for whenever we review our current packaging routine.

References
---
- https://github.com/sdispater/poetry

[2018-12-06 08:47] #428 closed

[2018-12-09 16:21] TFiFiE opened #449 "Unifying CIECAM02 & CAM16."
Would it be in the scope of this project to consolidate as much as CIECAM02 and CAM16 have in common in a single codebase and make explicit exactly how they differ?

[2018-12-10 06:54] KelSolaar commented on #449
Hi @TFiFiE,

From a code standpoint, CAM16 almost entirely piggyback on CIECAM02, if you look at the module imports [it is quite significant](https://github.com/colour-science/colour/blob/develop/colour/appearance/cam16.py#L34).  I prefer the separation of concerns, makes the code a bit more manageable and importantly, CAM16 is not CIECAM16, it is not blessed by the CIE, so I would rather keep it

[2018-12-14 20:39] nick-shaw opened #450 "Update "eotf_BT2100_HLG" to July 2018 BT.2100-2 specification."
The black handling in the HLG EOTF and OOTF has been changed with the July 2018 update to BT.2100 (thanks to Tim Borer for alerting me to this.)

For completeness, I suppose we should add a `use_legacy` kwarg, so the previous version can be used.

[2018-12-24 23:12] Queuecumber opened #451 "Converting CCT to sRGB, values out of range?"
I think that this has been touched on in a few places but I am still not entirely sure how to handle out of range values.

The story is I am given a color temperature in mired which I need to output to an RGB LED.

So my procedure is:

[code]

So for a simple test I used mired 154 which is like 6493 kelvin, which should be a blue color.

This gave me an xy value of `array([0.31359506, 0.32376116])

[2018-12-25 00:03] Queuecumber commented on #451
OK actually I think the color temperature slider I am using is just making it look like the color should be bluer than it really should be. Based on https://upload.wikimedia.org/wikipedia/commons/b/ba/PlanckianLocus.png it should be pretty white at 6500k

The main question still stands though, should I just normalize the final color and is the xy -> XYZ conversion working right?

[2018-12-25 18:49] KelSolaar commented on #451
Hi,

I'm on the road and hard to join but everything as I see it is normal! Getting values above 1 is entirely normal upon conversion to RGB. Those colours are still within the gamut  and doing a slight excursion in higher dynamic range.  The conversion from  xy chromaticity coordinates to tristimulus values will always normalise values so that luminance Y==1.

Now on how to deal with those colour

[2018-12-25 19:34] Queuecumber commented on #451
@KelSolaar Thanks for the response

So this is pretty in line with some of my assumptions. I was already dealing with a controller that supplies color information but no brightness information (HS but not V for example) and the most sensible thing is to set the luminance to 1 in that case. I'm still not sure how it ends up the color information outside of range in that case, but I'm willing to acc

[2019-01-03 15:31] Edwardlin-zlt opened #452 "A question about "Tristimulus Values Conversion""
I have a spectral data with different interval. How could I converse the data into XYZ value?

the data is
[code]

I tried use spd_to_XYZ() function, the error occured.
[code]

[2019-01-03 18:12] jdvandenberg commented on #452
Hello Edwards,

In order to convert spd into XYZ, you need to specify the CMF (Color Matching Functions) and the illuminant. See code example attached.
FYI: This code if part of the many examples provided as part of the library, you should explore them.

Best,

JD

JD Vandenberg

[2019-01-04 03:43] #452 closed

[2019-01-04 03:44] Edwardlin-zlt commented on #452
Thanks~

[2019-01-04 05:31] KelSolaar commented on #451
Sorry for the late reply, I just got back home with a stable connection yesterday.

Given you are assuming Luminance == 1 you should be fine, but if you were planning to also change luminance you would need to know whether the input colour needs to be non-linearly encoded or not.

[2019-01-07 08:50] KelSolaar opened #453 "Expose normalisation constant "k" as parameter in the spectral to tristimulus values via integration objects."
I was re-reading Colorimetry (2004) and it seems like it is a good idea to expose the normalization constant `k`:

![image](https://user-images.githubusercontent.com/99779/50758153-3dbafd00-12c6-11e9-9c33-97d11e0a2b52.png)

[2019-01-08 20:38] miaoqiz opened #454 ""colour.write_image" definition method may need to be updated due to the most recent update of "OpenImageIO" ."
There are a few changes with regard to writing images by "OpenImageIO" 2.0.4.

https://github.com/OpenImageIO/oiio/blob/master/CHANGES.md

In addition to create a updated version of "write_image(...)" method, there is a need to examine the version of installed "OpenImageIO" before calling the correct version of "write_image(...)" in colour-science.

[2019-01-10 07:00] Edwardlin-zlt opened #455 "I build a dict to make a SPD instance but encountered a error"
I have no idea where goes wrong~

- build the dict
![build the dict](https://user-images.githubusercontent.com/35733429/50951467-468b1900-14e8-11e9-81ae-34f26f48e6a2.png)

- something went wrong
![error occur](https://user-images.githubusercontent.com/35733429/50951488-53a80800-14e8-11e9-9913-e1d2dfd5f93f.png)

[2019-01-10 07:10] Edwardlin-zlt commented on #455
OK，My bad... I didn't turn the wavelengths into numbers...

[2019-01-10 07:10] #455 closed

[2019-01-10 07:35] KelSolaar commented on #455
Glad you figured out the issue, the exception is quite cryptic!

[2019-01-11 02:57] miaoqiz commented on #454
Also, "**ImageOutputOpenMode**" is not available for "import" in the latest "OpenImageIO".

[2019-01-11 02:59] miaoqiz opened #456 ""colour.read_image" definition should close the image after reading it."
In the "read_image()" method, it is recommended to call "image.close()" to close the opened image files. This is necessary when reading a large number of images.

[2019-01-11 03:04] KelSolaar commented on #456
Cheers! Should be easy!

[2019-01-11 03:05] KelSolaar commented on #454
Thanks, I will try to look at either this weekend or next week.

[2019-01-12 04:37] #451 closed

[2019-01-13 02:09] KelSolaar opened #457 "Implement updates from "CIE 015:2018 - Colorimetry, 4th edition"."
References
---

- http://www.cie.co.at/publications/colorimetry-4th-edition

[2019-01-24 01:36] KelSolaar opened #458 "Implement support for "Jakob (2019)" spectral upsampling."
References
---

- http://rgl.epfl.ch/publications/Jakob2019Spectral

[2019-02-24 10:22] KOLANICH commented on #93
https://github.com/kaitai-io/kaitai_struct_formats/blob/master/image/icc_4.ksy - a ready-to-use low level icc format parser

[2019-02-25 07:38] KelSolaar commented on #93
Hi @KOLANICH,

I tried it a few years ago and it was breaking super bad on basic ICC4 profiles, I ended up writing some code to extract the TRC curves, I got side-tracked after that.

[2019-02-25 19:06] KOLANICH commented on #93
Sounds like a bug in the spec. Could you [create an issue](https://github.com/kaitai-io/kaitai_struct/issues/new) about it?

[2019-02-26 06:27] KelSolaar commented on #93
I need to try again, might not be before a while.

[2019-03-14 20:50] zachlewis opened #461 ""colour.read_image" captures incomplete 'chromaticity' metadata"
When iterating over and parsing indices of 'specification.extra_attribs' to build up the ImageAttribute_Specification list, for chromaticity data, 'attribute.value' returns only the first index of the full float[8] array; however, the full array is retrievable with a slightly different api call:

[code]

I imagine this is an OIIO bug that's better handled upstream either way, but using 'specificat

[2019-03-15 04:00] zachlewis commented on #461
On second thought, maybe this is opening a can of worms maybe better left canned for now... as far as the "chromaticities" attribute is concerned, the OIIO python API seems to eat strings and dump floats; so I'm pretty sure implementing the above code would cause failures when round-tripping EXR data through colour.read_image() and colour.write_image() whenever the "chromaticities" attribute is pr

[2019-03-18 08:34] #246 closed

[2019-03-18 09:51] KelSolaar commented on #461
Hi @zachlewis,

Related OIIO 2.x uses Pybind11 so as per #454, I will need to update the code in some way, there is also #456.

I will try to take a look in the coming days!

[2019-03-19 09:44] #456 closed

[2019-03-20 09:12] KelSolaar commented on #267
Let's postpone this one for now, it seems like a ton of work for not so much benefit at the moment.

[2019-03-20 09:17] #420 closed

[2019-03-21 09:24] #453 closed

[2019-04-01 09:03] Edwardlin-zlt commented on #209
I hope this could be added.
As a newbie, I want to learn matplotlib. Also, I would like this colour module could use the same kwargs that could be easier to people like me to learn both at the same time.
And I want to plot multiple SD in one figure but different axes, how could I make that? Please give me some hits.
Thanks~~~~

[2019-04-02 06:47] KelSolaar commented on #209
@Edwardlin-zlt : I'm a bit unclear on what you are asking for exactly, are you referring to sub-plots, e.g. https://matplotlib.org/api/_as_gen/matplotlib.pyplot.subplots.html?

[2019-04-07 03:29] KelSolaar commented on #71
Played with and addressed by 53afcadde5f74062209cacf6d3353553ee834c00.

[2019-04-07 03:29] #71 closed

[2019-04-07 03:45] KelSolaar commented on #407
I think this one was addressed, I cannot see the `Edit on Github` button on the aforementioned page.

[2019-04-07 03:45] #407 closed

[2019-04-09 08:25] KelSolaar commented on #446
Coincidentally, I just came across this on DisplayCAL: https://sourceforge.net/p/dispcalgui/code/HEAD/tree/trunk/DisplayCAL/colormath.py#l2920

[2019-04-13 10:58] Myndex opened #466 "sRGB EOTF incorrect value for linear section?"
sRGB EOTF threshold error?

 In colour/colour/models/rgb/transfer_functions/srgb.py
 in the function "def oetf_reverse_sRGB(V):"
    `V <= oetf_sRGB(0.0031308),`

I was thinking this was an incorrect value till I parsed the code more... Now I see that you're using the oetf_sRGB to create the "inverse"... the specified value per ISO spec is 0.04045 (or the unrounded 0.0404482) ...  as a thought the

[2019-04-13 12:22] KelSolaar commented on #466
Hi @Myndex,

The [draft of IEC 61966-2-1:1999](http://www2.units.it/ipl/students_area/imm2/files/Colore1/sRGB.pdf) which is generally available to the public gives *0.0031308* for the OETF:

![image](https://user-images.githubusercontent.com/99779/56079555-885e8f00-5e4a-11e9-84e1-344ef5945fa6.png)

Note that it also gives *0.04045*:

![image](https://user-images.githubusercontent.com/99779/5607955

[2019-04-14 09:55] nschloe opened #467 "Fix regressions introduced to "CIECAM02" and "CAM16" implementations by "Colour 0.3.12"."
I just noticed that the CIECAM02 implementation of colour diverged from https://github.com/nschloe/colorio and https://github.com/njsmith/colorspacious (which both coincide) in commit 5992be6adfcf28a3c4260376007b0ddcf3b8d1a1. You might want to tighten the screws on your tests.

[2019-04-14 10:26] KelSolaar commented on #467
@nschloe : Which tests did u run? I ran this file https://github.com/nschloe/colorio/blob/master/test/test_comparisons.py and all the assertions are passing.

[2019-04-14 10:27] nschloe commented on #467
https://github.com/nschloe/colorio/blob/master/test/test_comparisons.py#L64

[2019-04-14 10:29] KelSolaar commented on #467
They pass for me, which Python / OS are you running that from?

![image](https://user-images.githubusercontent.com/99779/56091568-b86a6880-5f04-11e9-98d5-07b8cc8acfcd.png)

[2019-04-14 10:35] nschloe commented on #467
Running `python` on the file just executes the `__main__` function. Do
[code]

[2019-04-14 10:38] KelSolaar commented on #467
I added the `print('Done!')` statement (visible in screengrab above) to show that the assertion are passing.

[2019-04-14 10:43] nschloe commented on #467
Weird. Okay, let's dig some more. This
[code]
gives
[code]
on my machine.

[2019-04-14 10:50] KelSolaar commented on #467
Confirming the above

*0.3.11*
(colour-3.7) Kali:test kelsolaar$ python test_colour.py
21.727294359
21.727294359
21.6885754407

*0.3.12*
(colour-3.7) Kali:test kelsolaar$ python test_colour.py
21.727294358955028
21.727294358955028
21.72729435895502

The thing I don't get is that your tests are passing!

[2019-04-14 10:56] nschloe commented on #467
Me neither. They don't pass here, so that seems legit. Also weird: I get the wrong value from colour master, too. With versions:
[code]

[2019-04-14 12:13] KelSolaar commented on #467
I found out the issue, will push a fix tomorrow, thanks for spotting that!

[2019-04-15 07:44] #467 closed

[2019-04-16 01:49] leklbk opened #468 "Division by zero errors occurring when plotting the CIE 1976 UCS chromaticity diagram."
When Plotting CIE1976 chromaticity diagram in python IDLE, "divide by zero errors" occurs.
However When I plot it in spyder, the error doesn't appear.

How can I run this code in IDLE without error?

[2019-04-17 09:28] KelSolaar commented on #468
Hi @leklbk,

Do you have a traceback or something? The zero-division depending where they happen should not be an issue.

Cheers,

Thomas

[2019-04-18 08:17] leklbk commented on #468
Hi @KelSolaar
for the security issues, I can't copy it. Last trace back is about
site-packages\colour\algebra\common.py:164: RuntimeWarning: invalid value encountered in sign
 a_p = np.sign(a) * np.abs(a) **p

This warning occurs both spyder IDLE and basic IDLE. However spyder can plot, basic IDLE cannot.

[2019-04-18 08:32] KelSolaar commented on #468
Right so this is a warning, it should be meaningless!

In your script try the following:

At the top:

[code]

and where you want to see the figure:

[code]

[2019-04-19 22:54] #285 closed

[2019-04-20 23:23] KelSolaar opened #472 "Implement support for Academy Spectral Similarity Index (SSI)."
This one should be relatively straight-forward but will require a bit of work, the process is outlined in the [Academy Spectral Similarity Index (SSI): Overview](https://www.oscars.org/sites/oscars/files/ssi_overview_2019-03-04.pdf) pdf file.

The new code would sit in a new `colour.quality.ssi` module along with unit tests.

References
---

- https://www.oscars.org/science-technology/projects/spe

[2019-04-21 08:17] KelSolaar opened #473 "Implement alternative image reading support with "imageio"."
References
---

- https://imageio.github.io/

[2019-04-25 07:56] KelSolaar opened #474 "Implement support for "Color Exchange Format (CxF)"."
References
---

- https://www.xrite.com/page/cxf-color-exchange-format

[2019-04-29 07:19] Myndex commented on #466
Hi @KelSolaar Thank you for clarifying, that makes sense — sorry I brought it up, just that I have been running into a lot of "wrong values" relating to sRGB elsewhere and trying to be proactive. Cheers.

Though I do have an additional question, I am climbing the learning curve for Python, wouldn't it be more efficient to simply state the constant like this:

[code]

Instead of calling the functio

[2019-04-29 10:46] KelSolaar commented on #466
@Myndex : You are welcome!

Yes but the precision tradeoff is not worth it, especially because the performance hit is meaningless once you start pushing a lot of data through the definition. I don't know if you are familiar with Numpy but if not let me explain:

Assuming you are processing an image, a naive function would loop over each pixel, one by one and painstakingly applying the function ont

[2019-04-29 19:48] Myndex commented on #466
Thank you @KelSolaar — I really appreciate the quick tutorial on numpy !

[2019-04-29 21:39] KelSolaar commented on #466
You are welcome! I will close this one but feel free to ask any more questions!

[2019-04-29 21:39] #466 closed

[2019-05-04 12:30] #473 closed

[2019-05-05 09:15] Edwardlin-zlt opened #477 "rendering_index_bars, why the color of bars changes each time I draw a plot."
I use `colour.plotting.plot_single_sd_colour_rendering_index_bars` to draw a var diagram.
I suppose each time each bar should have the same color so I could compare them more intuitively.
but the bars showing in different color sets.

---
![1](https://user-images.githubusercontent.com/35733429/57191517-4ad8b780-6f59-11e9-9539-3d14436930da.png)

---
![2](https://user-images.githubusercontent.com/35

[2019-05-05 09:23] KelSolaar commented on #477
Hi @Edwardlin-zlt,

A typical plot would look like this:

![image](https://user-images.githubusercontent.com/99779/57191622-cea39b80-6f7b-11e9-8b20-4bc91080632d.png)

The bars are actually coloured the way the light tested would render the test sample.

Are your lights very narrowband/highly colourful?

[2019-05-05 10:14] Edwardlin-zlt commented on #477
Thanks~

 My lights are not real lights. And it has low rf.

What if I really want those bar's have one exactly same colour set? What I could do to reach that goal?

And is it normal to have one bar above 100 line? You see my outcome plot has a bar out of figure box.

[2019-05-05 19:15] KelSolaar commented on #477
I'm a bit unclear, do you want them to have all the same colours or use constant pre-defined colours?

I would say yes, CRI was fitted against real-world lights with relatively broad spectrum so to speak, if you use narrowband artificial lights I would not be surprised that you get such results, it is also possible to get negative values, although those are taken in account and all the bars will b

[2019-05-08 02:48] Edwardlin-zlt commented on #477
Sorry for the late. For the first one, I actually want control the bars' colour.

So what could I do if I don't want bars to be coloured the way the light tested would render the test sample, just want them to be the same colour each time i draw the plot.

[2019-05-08 08:53] KelSolaar commented on #477
Something like that should work:

[code]

[2019-05-13 06:47] KelSolaar commented on #468
@leklbk : This should be addressed in [develop](https://github.com/colour-science/colour/tree/develop).

[2019-05-13 06:47] #468 closed

[2019-05-13 06:54] KelSolaar commented on #450
We should probably look at this one sooner than later. I guess the update is the black lift here:

![image](https://user-images.githubusercontent.com/99779/57601401-85250300-75b0-11e9-8afe-3601d4cf1818.png)

References
---
- https://www.itu.int/dms_pubrec/itu-r/rec/bt/R-REC-BT.2100-2-201807-I!!PDF-E.pdf

[2019-05-14 08:39] #449 closed

[2019-05-14 10:58] KelSolaar commented on #442
This is done @sobotka!

[2019-05-14 11:06] #442 closed

[2019-05-16 08:44] KelSolaar commented on #337
Closing this one, there are a few things still to do but most of the critical stuff is addressed.

[2019-05-16 08:44] #337 closed

[2019-05-16 08:46] KelSolaar commented on #292
Discarding that one, it is not super useful for Colour.

[2019-05-16 08:46] #292 closed

[2019-05-16 20:27] sobotka commented on #436
Taken this close to as far as I understand I can. Not entirely sure how to test etc.

https://github.com/sobotka/colour/tree/fuji

[2019-05-19 03:09] KelSolaar commented on #450
@nick-shaw : I was looking at that and I just noticed there is a negative clamp that might prevent the full reverse implementation, I'm thinking about dropping it.

[2019-05-24 09:37] KelSolaar opened #481 "About consistency in join point handling of various transfer functions and "Legality" versus "SDI Code Value" naming convention."
I was looking at the join points of various definitions:

Canon Log
---

`log_encoding_CanonLog(x, bit_depth=10, out_legal=True, in_reflection=True)`:

[code]

Canon Log 2
---

`log_encoding_CanonLog2(x, bit_depth=10, out_legal=True, in_reflection=True)`:

[code]

Canon Log 3
---

`log_encoding_CanonLog3(x, bit_depth=10, out_legal=True, in_reflection=True)`:

[code]

Panasonic V-Log
---

`log_enco

[2019-05-28 07:35] KelSolaar commented on #481
In relation to that, we were discussing the `out_legal` and `in_legal` argument names and @nick-shaw suggested changing from `out_legal=True` to `out_ire=False`.

I'm adding a few images to support the discussion:

Canon Log
---
![image](https://user-images.githubusercontent.com/99779/58459291-1edadb80-817f-11e9-82b6-48c782be630f.png)

Sony S-Log3
---
![image](https://user-images.githubusercontent

[2019-05-28 13:09] nick-shaw commented on #481
Currently `out_legal=False` produces a normalised version of the "IRE" value in the table, i.e. `IRE / 100`, and `out_legal=True` produces a normalised version of the code value, i.e. `CV / 1023` for 10-bit. This is based on the notion that `CV = full_to_legal(IRE)`, so if code value is the one which is the result of a "full to legal scale", it is the one referred to as "legal". However, while thi

[2019-05-28 13:46] nick-shaw commented on #481
Regarding cut points, it is a tricky question. We have always tried in general to follow the published literature, have we not? Modifying constants to produce a more accurate round-trip is deviating from that. In some cases we have to use a calculated cut point where the curve is published in only one direction (e.g. the Canon Log 3 IDT). For S-Log1 we follow the spirit rather than the letter of t

[2019-05-31 22:24] KelSolaar commented on #481
Yes, this is pretty much where I'm going to, maybe a line or two explaining why the code is this way.

[2019-06-03 03:31] KelSolaar opened #482 "Implement support for "Using Moments to Represent Bounded Signals for Spectral Rendering"."
References
---
- http://momentsingraphics.de/?page_id=243

[2019-06-04 20:59] NoRoKr opened #483 "Add support for user-defined color checker charts."
From my investigations, it does not seem that colour allows creation of COLOURCHECKERS or COLOURCHECKERS_SDS objects defined by the user.
Preferably, a user who has access to a colorimeter or spectroradiometer  could measure their own Macbeth charts either to evaluate the measurement equipment or the quality of charts and display them using `colour.plotting.plot_multi_colour_checkers`.

Currently,

[2019-06-04 23:16] KelSolaar commented on #483
Hi @NoRoKr,

It should be doable as follows:

[code]

![image](https://user-images.githubusercontent.com/99779/58919697-21db5a80-8783-11e9-9f2b-b5346af7a576.png)

Did you have anything else in mind?

[2019-06-05 19:17] NoRoKr commented on #483
Hi @KelSolaar,
I was ultimately able to get it to work this way. Thank you.

I do have a few concerns that I believe could be improved upon here. I could move these into a separate issue if necessary.

[code]

First, the requirement to rescale the data seems like it shouldn't be necessary by default.

Second, this outputs the following image:
![cc_compare](https://user-images.githubusercontent.com

[2019-06-05 19:51] NoRoKr commented on #483
With regards to my last comment, I forgot the basics of color for a second and see my mistake (not incorporating the light source correctly)!

[2019-06-05 19:51] #483 closed

[2019-06-05 20:02] KelSolaar commented on #483
Hi @NoRoKr,

That is what I was about to say! You need to pass the illuminant to the spectral conversion function :]

In respect to the division by 100, there is a good reason why it is not the default: https://colour.readthedocs.io/en/develop/basics.html#domain-range-scales

[2019-06-05 20:02] NoRoKr commented on #483
[code]

[2019-06-27 17:31] senyai opened #484 "Should CIE 1976 and CAM16-UCS methods give equal results?"
[code]

[2019-06-28 05:58] KelSolaar commented on #484
Hi @senyai,

I know it is confusing but both methods are indeed using Euclidean distance under the hood, however, the inputs should be different: You cannot use a Lab colour with CAM16-UCS but a `JMh` array from the CAM16 CAM.

The docstring should be fixed though:

[code]

`J'a'b'` should be `JMh`, I will address that ASAP.

At some point, I will roll the power values of Huang et al. (2015) as de

[2019-06-28 09:10] #450 closed

[2019-06-29 06:05] KelSolaar commented on #481
@nick-shaw : I changed the arguments as discussed and added a bit of documentation so that one can get the values of the various tables in the references. Feel free to add more details or expand the docstrings if you think it is worth it. I will close this one for now.

[2019-06-29 06:05] #481 closed

[2019-07-02 09:27] KelSolaar opened #486 "Implement support for Y'CbCr matrices generation."
@nick-shaw and I talked about implementing a new `colour.RGB_to_YCbCr_matrix` definition that would generate the matrices used by the various *Y'CbCr* flavours, it would eventually be used by the current `colour.RGB_to_YCbCr` and `colour.YCbCr_to_RGB` definitions.

It would be beneficial for generating the matrices for usage in other applications and also probably faster.

[2019-07-09 07:45] KelSolaar commented on #484
Closing this one for now @senyai, cheers :)

[2019-07-09 07:45] #484 closed

[2019-07-09 10:40] KelSolaar opened #487 "Implement support for "Spectral Primary Decomposition for Rendering with sRGB Reflectance"."
References
---
- https://geometrian.com/data/research/spectral-primaries/EGSR2019_SpectralPrimaryDecomposition.pdf
- https://graphics.geometrian.com/research/spectral-primaries.html

[2019-07-24 03:34] onlyhope10 opened #488 "About "RuntimeWarning: invalid value in power ..." warnings."
xdata=np.array([10,20,30,60,120,180,360,720,1440])
ydata=np.array([243,194,171.9,128.1,76.7,54.7,31,16.2,8.4])

def func(xdata,a,b,n):
    return a/(xdata+b)**n

init=np.array([1,1,1])

best_val,covar= curve_fit(func,xdata,ydata,p0=init)
print(best_val)

Warning (from warnings module):
  File "G:\least_sq.py", line 12
    return a/(xdata+b)**n
RuntimeWarning: invalid value encountered in power
[1.

[2019-07-25 07:30] KelSolaar commented on #488
Hi @onlyhope10,

This code has nothing to do with [Colour](https://github.com/colour-science/colour) so I don't think this issue belongs here. That said what you are getting here is a warning that happened when **Scipy** tested values in the optimisation process and probably ended up raising a negative number to a fractional power or something along those lines.

[2019-07-26 19:12] KelSolaar commented on #488
Closing this one, feel free to continue the discussion though!

[2019-07-26 19:12] #488 closed

[2019-08-09 01:35] briend opened #493 "SpectralDistribution align for non-uniform shapes?"
With a weird shape like this (below), the "shape" property doesn't seem to be useful or accurate.  I'm trying to plug this non-uniform distribution in the Spectral_to_XYZ recovery functions but I cannot align the CMFS and illuminant to this funky SpectralDistribution.  Is there something I'm missing or do I need to manually do the alignment somehow?  Thank you for any advice!

data = {
    467: 0.

[2019-08-10 09:40] KelSolaar commented on #493
Hi @briend,

There is no direct way to do that indeed. You could however manually extract the values as follows:

[code]

[2019-08-18 04:20] #436 closed

[2019-08-20 09:10] KelSolaar commented on #486
Adding some related code for future reference, it misses the offset though:

[code]

[2019-08-20 09:58] nick-shaw commented on #486
Should that code not also include the `is_int` parameter?

Would it be useful also to create a corresponding `compute_YCbCr_offsets()` function, even if that was relatively trivial? It would presumably be something like:
[code]
Then you could calculate the matrix and offsets and do:
[code]

[2019-08-20 10:00] KelSolaar commented on #486
Absolutely! It is not complete at all, I just pasted it so that I don't have to scroll for 10 hours in Slack :)

[2019-08-23 13:49] nick-shaw opened #495 "Writing an ndarray using "colour.write_image" definition modifies the array in place."
https://github.com/colour-science/colour/blob/239410c06d4b73028f7affafdbea28e1adee3e4a/colour/io/image.py#L418

For example writing a float array to an uint16 file results in the entire array being multiplied by 65535.

This seems like undesirable behaviour. Should an `np.copy` be added?

[2019-08-23 21:19] KelSolaar commented on #495
Yes this should not happen! Do you mind opening a PR @nick-shaw ?

Cheers,

Thomas

[2019-08-25 03:56] KelSolaar commented on #406
I have implemented a fair bunch of support for that in the [graph](https://github.com/colour-science/colour/tree/feature/graph) branch.

![image](https://user-images.githubusercontent.com/99779/63645365-c51f8880-c750-11e9-8f68-064758b27a66.png)

[2019-09-04 00:13] leklbk opened #497 "XYZ Values from spectral distribution are different from colour package and calculated values"
I calculated XYZ from 1nm-interval wavelength with simple integration and comparing with values from colour science package. they were different.

I also compared these values with spectral measurement system which shows luminance and this luminance value same with the calculated value from integration

I also tried to change methods and CMFS in sd_to_XYZ but it didn't make significant change.

co

[2019-09-04 07:56] KelSolaar commented on #497
Hi @leklbk,

Without seeing your code it will be tricky. How much different it is? Our computations should be correct and are verified against various CIE and ASTM publications.

Cheers,

Thomas

[2019-09-04 08:24] leklbk commented on #497
Hi @KelSolaar ,
First of all, I really appreciate that I can use this unbelievable powerful tool.
I can't attach the file because of security policy of my company but I'm gonna try to explain as much as I can

I read oled spectrum measured data that has wavelength interval of 2nm
I downloaded color matching function from CIE technical site 1931, 2degree CMF and
just interpolate these CMFs into 2nm

[2019-09-04 09:54] KelSolaar commented on #497
Interesting, feel like your spectrum is either very noisy or has a lot of peaks, have you tried instead of converting the CMFs to 2nm to actually interpolate your spectrum to 1nm? Would be great to get a mock spectrum for me to test, if you are allowed, you can send it to me via email.

Cheers,

[2019-09-05 07:42] KelSolaar commented on #497
Closing this one as it is handled privately!

[2019-09-05 07:42] #497 closed

[2019-09-08 01:52] KelSolaar opened #498 "Implement support for "Comprehensive Colour Appearance Model"."
References
---
- https://onlinelibrary.wiley.com/doi/abs/10.1002/col.22078

[2019-09-08 01:54] KelSolaar opened #499 "Implement support for the "JzAzBz" based colour appearance model."
References
---
- https://www.ingentaconnect.com/content/10.2352/ISSN.2169-2629.2018.26.96

[2019-09-14 04:35] KelSolaar commented on #383
@nschloe : Any news on this front?

[2019-09-14 04:45] KelSolaar opened #500 "Improve LUTs support."
Starting this issue to track down some of the work @nick-shaw, @jdvandenberg and I were doing with respect to LUTs and before we forget.

- Implement support for LUT inversion: https://github.com/colour-science/colour/tree/feature/reverse_lut
- Various minor CSP LUT problems: https://github.com/colour-science/colour/tree/feature/lut_support_improvements
- `colour.LUT_to_LUT` definition does not ha

[2019-09-15 11:50] nschloe commented on #383
Uh... What exactly do you have in mind? I wrote the authors and got

back from Changjun Li (in Feb 2018).

[2019-09-15 11:53] KelSolaar commented on #383
Fair enough! Your last comment was:

So I was just inquiring if there were any progress.

[2019-09-15 12:10] nschloe commented on #383
Yeah, I mean, it'd be nice if this was used by upstream since the standard is a bit flawed here and there, but I cannot _make_ anyone use it. At least the ideas are out there for everyone to implement.

And besides, I'm working on a color model that will perhaps obsolete all of CAM ones anyway. :smile:

https://github.com/nschloe/colorio/commit/eedda66bf06826ba656969fd979516df9aac9069

[2019-09-15 12:15] KelSolaar commented on #383
Ah! :)

Thanks, I will close this one to tidy up our stack a bit!

[2019-09-15 12:15] #383 closed

[2019-09-17 05:17] briend commented on #493
Thanks, that worked out well after tweaking the related recovery functions to use the custom shape for CMFS and illuminant

[2019-09-17 06:02] KelSolaar commented on #493
Awesome thanks! Closing this one then :)

[2019-09-17 06:02] #493 closed

[2019-09-17 07:10] nschloe commented on #383
I wouldn't close this before having made the respective changes, e.g., [here](https://github.com/colour-science/colour/blob/a3e7182d6a991beecd7162dd8ba891b556d79732/colour/appearance/ciecam02.py#L847).

[2019-09-18 19:02] KelSolaar opened #501 "Implement support for "Github Actions"."

[2019-09-21 01:40] #454 closed

[2019-09-21 01:51] #495 closed

[2019-09-25 09:36] #406 closed

[2019-09-29 01:20] #448 closed

[2019-09-30 01:47] sobotka opened #505 "Fix missing spaces in "colour.encoding_cctf" and "colour.decoding_cctf" definitions docstrings."
Missing a space after the `the`.

https://github.com/colour-science/colour/blob/2bf80feb352ce88292e904174411023a48b67fa5/colour/models/rgb/transfer_functions/__init__.py#L782

[2019-09-30 01:49] KelSolaar commented on #505
Good catch! Actually there is another one two lines above, there must be some other similar in the file.

[2019-09-30 05:45] KelSolaar commented on #505
@sobotka : Mind opening a PR for this one please whenever you have some cycles, should be very easy :)

[2019-09-30 10:20] #501 closed

[2019-09-30 11:08] KelSolaar opened #506 ""colour.SpectralDistribution_IESTM2714.read" method should probably return "self"."
The `colour.SpectralDistribution_IESTM2714.read` method returns `True` currently while it should probably return `self`: https://github.com/colour-science/colour/blob/8eb5c73fbd986f47ef5fbc7cb48d0288bdfb12c0/colour/io/ies_tm2714.py#L996

This would allow one to do something along those lines:

[code]

instead of

[code]

[2019-09-30 13:08] BPearlstine commented on #506
I'll take this on and push up tomorrow

[2019-09-30 18:36] KelSolaar commented on #506
Thanks @BPearlstine!

[2019-09-30 21:26] anshulxyz commented on #472
Hi, I'd like to work on this issue

[2019-09-30 21:31] sobotka commented on #505
Will do! If you catch others, drop them here and I’ll do one squished commit.

[2019-09-30 21:36] KelSolaar commented on #472
Hi @anshulxyz,

Thanks, that would be fantastic!

[2019-10-01 01:46] KelSolaar opened #507 "Hacktoberfest - 2019"
![image](https://user-images.githubusercontent.com/99779/65927458-3f30e480-e456-11e9-990e-5aaa9b1cf417.png)

Hi,

This is [Hacktoberfest 2019](https://hacktoberfest.digitalocean.com/) thus we have started to tag a few issues for the occasion and will continue in the next days! We are obviously welcoming any contributors and contributions whether they are direct code submissions or discussions.

Ou

[2019-10-01 04:08] KelSolaar commented on #396
Looking back at this one, we could probably name it **IICS** for _Illumination-Invariant Colour Space_. It could to in a new `colour.models.iics` module along with two new definitions:

- `colour.XYZ_to_IICS`
- `colour.IICS_to_XYZ`

The definitions would need to be added to the new Automatic Colour Conversion Graph in the `colour.graph.module` and also in `colour.models.XYZ_to_colourspace_model` f

[2019-10-01 04:18] KelSolaar opened #508 "Deprecate "colour.models.XYZ_to_colourspace_model" definition."
With the new Automatic Colour Conversion Graph implemented, we should discourage usage of the `colour.models.XYZ_to_colourspace_model` definition. It has been a convenient wrapper but it should disappear because its functionality is superseded by the `colour.convert` definition.

Deprecating API features is done by using the various objects in the `colour.utilities.deprecation` module. In this cas

[2019-10-01 04:42] KelSolaar commented on #487
The publication has a [Supplemental Materials](https://geometrian.com/data/research/spectral-primaries/supplemental.zip) archive with some Matlab code to generate the basis functions. This is certainly not trivial as my initial assessment seemed to imply, thus I removed the *Good First Issue* label.

[2019-10-01 04:49] KelSolaar commented on #458
The publication has a [Supplemental Material](http://rgl.s3.eu-central-1.amazonaws.com/media/papers/Jakob2019Spectral.zip) archive with a non-trivial C implementation. This is certainly not trivial as my initial assessment seemed to imply, thus I removed the _Good First Issue_ label.

[2019-10-01 05:37] #508 closed

[2019-10-01 05:44] anshulxyz commented on #472
awesome! I would like if you assigned this issue to me
![Screenshot from 2019-10-01 11-13-46](https://user-images.githubusercontent.com/6121530/65937164-9629c000-e43c-11e9-81cf-f56ab146a9e6.png)

That would help me find the issues that are assigned to me :pray:

[2019-10-01 05:48] KelSolaar commented on #508
@feralpoosum : Thanks :)

Do you mind giving me your first and last name for attribution purposed, e.g. https://github.com/colour-science/colour/blob/develop/CONTRIBUTORS.rst, the Website and Zenodo?

[2019-10-01 05:49] KelSolaar commented on #472
Sure thing, done! :)

[2019-10-01 05:55] KelSolaar commented on #508
I can use _Matt Pppp_ if you are fine with it btw!

[2019-10-01 07:49] Apoorva-13 commented on #506
Hey,can i take up this issue?

[2019-10-01 07:58] KelSolaar commented on #506
@Apoorva-13 : I think it would be fair to do it on a claim order basis, and give some more time to @BPearlstine.

Cheers,

Thomas

[2019-10-01 08:01] Apoorva-13 commented on #506
ok sure

[2019-10-01 08:50] KelSolaar commented on #505
Thanks @sobotka! I did not see any but I must admit I'm not actively chasing them, just taming them as I go usually.

[2019-10-01 09:06] KelSolaar opened #511 "Fix "from collections import Mapping, MutableMapping" with Python 3.8."
This relates directly to #489 which has unfortunately not been updated by the original contributor.

The takeaway is that for Python 3.8 not breaking our imports we need to change a few imports from:

[code]

to:

[code]

So I'm suggesting we use the following import scheme:

[code]

These are the imports I noted that would need change when I looked at it a few weeks ago:

[code]

We cannot really

[2019-10-01 11:21] Chinmayrane16 commented on #511
Hey @KelSolaar, is anyone working on this?

[2019-10-01 11:22] KelSolaar commented on #511
Hi @Chinmayrane16,

Nobody currently! You can claim it if you want :)

Cheers,

Thomas

[2019-10-01 11:29] Chinmayrane16 commented on #511
Cool.. then basically in each python file listed above, I have to check for the version of python installed.. and import the necessary modules, right!?

[2019-10-01 13:31] BPearlstine commented on #506
Hey I apologize for any spam you may have gotten off failed tests. I'm not used to your testing set up and ran into issues getting travis to work on my fork and running nosetest locally. I believe the doctests should work after applying the #doctest: +ELLIPSIS  that you are using elsewhere to only check for the first line of the returned object's representation, but am unsure how you want me to ha

[2019-10-01 13:36] Chinmayrane16 commented on #511
Hey @KelSolaar,

Actually, I am new to open source and facing an issue here, there are some failed checks due to conditional importing which is not alowed by pep8.

Is there any other way to include conditional importing??

[2019-10-01 15:18] Chinmayrane16 commented on #511
Hey @KelSolaar,

I have updated the code. Kindly look into it and suggest changes, if any! :)

[2019-10-01 20:44] KelSolaar commented on #511
Thanks a lot, this is merged! :)

[2019-10-01 20:44] #511 closed

[2019-10-02 02:34] chesschi opened #515 "How to obtain XYZ from the RGB value for the display?"
In the Annex 3 of [Colour conversion from Recommendation ITU-R BT.709 to Recommendation ITU-R BT.2020](https://www.itu.int/dms_pubrec/itu-r/rec/bt/R-REC-BT.2087-0-201510-I!!PDF-E.pdf), there is an example how you can convert the 10-bit RGB to xyY. How can I use the colour library to calculate the xyY value like the example?

Quoted from the example:

I have followed the [example](https://github.co

[2019-10-02 03:38] KelSolaar commented on #515
Hi @chesschi,

You could compute them as follows, there is the hidden assumption which is that the values are encoded in legal range:

[code]

I hope this helps! :)

[2019-10-02 19:53] #505 closed

[2019-10-02 20:05] KelSolaar commented on #506
Sorry for not getting back to you earlier, what you could do is something along those lines for the docstring:

from

[code]

to

[code]

And for the unit tests, maybe doing something like that:

from

[code]

to

[code]

I haven't checked at your PR yet though, bit swamped at work currently!

[2019-10-03 12:34] remia commented on #486
Maybe propose an option to have the offset right into a 3x4 or 4x4 matrix as well ?

[2019-10-03 13:38] BPearlstine commented on #506
@KelSolaar

No problem, I reverted the branch and remade my changes and updated the tests but there is still a failure in one test that I'm a little confused by. But it's almost there

[2019-10-03 14:38] thunders82 opened #516 ""colour.write_image" definition does not work with "OpenImageIO 2.x"."
Hi,

This issue is probably not directly related to 'colour' but you may be able to give me a hand ?
I'm trying to write an image to disk but it seems I'm missing something... :

I've re-installed OpenImageIO with one of latest version but doesn't change much. Here is my environment :

I hope you be able to help.

Thank you,

Geoffrey

[2019-10-03 18:34] KelSolaar commented on #516
Hi @thunders82 / Geoffrey,

This is fixed in [develop](https://github.com/colour-science/colour/tree/develop), note that a few things happened as per the current [pre-release notes](https://gist.github.com/KelSolaar/4a6ebe9ec3d389f0934b154fec8df51d):

- [Imageio](https://github.com/imageio/imageio) is now a requirement! It can be installed with `pip install imageio` and will come by default when y

[2019-10-03 19:06] thunders82 commented on #516
Thanks a lot Thomas.
I'll try it as soon as I can.

[2019-10-03 19:23] KelSolaar commented on #516
Sweet! Let me know how it goes then :)

[2019-10-03 19:23] thunders82 commented on #516
@KelSolaar / Thomas ,
Just had a quick go but after install :

I've got this issue when I load the script that was working before :

The install is still called 0.3.13 maybe I did something wrong ?

Thank you,

Geoffrey

[2019-10-03 19:30] KelSolaar commented on #516
Ah right! So those are API changes that are not yet in the distributed version of `colour-checker-detection`, however, if you grab the [v0.1.1](https://github.com/colour-science/colour-checker-detection/tree/feature/v0.1.1) branch, it should be fixed too!

It is not merged yet in develop because the unit tests are breaking on Linux, so I need to take a look tonight.

Overall, the problem is that I

[2019-10-03 19:36] thunders82 commented on #516
Alright that's fine. I'll wait to 2 additional weeks to avoid to be lost with all the releases.
Let me know when ready and I'll give it go.
Thanks again for your help.

[2019-10-03 19:37] KelSolaar commented on #516
Sounds good! If you are not in a hurry, it is surely the simpler path :)

[2019-10-04 09:44] MichaelMauderer opened #518 "Replace generator based tests."
We have some tests that are based on generators. Their existence is blocking us from moving away from the `nose` test framework. Therefore, they need to go.

[2019-10-04 19:18] #506 closed

[2019-10-04 19:30] TFiFiE commented on #396
Maybe it's a bit pedantic, but the color space itself is obviously not invariant with respect to illumination, which is nonsensical. Perhaps something like _Illumination-**Uniform** Colour Space_ would better convey the intent behind its design.

[2019-10-04 23:04] KelSolaar commented on #486
This raises the question as to where the offsets would go in the 4x4 matrix.

[2019-10-06 11:32] #518 closed

[2019-10-12 15:10] hayzem commented on #516
I was getting the same error as @thunders82 mentioned. Then read the comments and pulled `color@develop` then installed `imageio` via pip. Since `OpenImageIO` was installed in the path I removed it and updated my code(added `method` and removed `attributes`).

I was so happy to hear this since setting up `OpenImageIO` with multiple python environments was quite time consuming.

Then I realized tha

[2019-10-12 22:33] KelSolaar commented on #516
Hi @hayzem,

I must admit that I haven't look at how attributes work yet with **Imageio**, my naive assumption was that it would not be that much of a used feature anyway, proven wrong :) I was also thinking that it would be radically different from **OpenImageIO** that it would be incompatible anyway.

Happy to take a PR and discuss about it.

[2019-10-14 05:07] anshulxyz commented on #472
hi Thomas, just keeping you updated that I am working on it. Didn't get time last few weeks, am starting now.

[2019-10-14 07:01] KelSolaar commented on #472
Cheers! Let me know if you need any help!

[2019-10-14 07:16] KelSolaar commented on #516
Quickly looking at it, the first step would be to not lose the `meta` attribute:

[code]

[2019-10-15 02:06] zachlewis commented on #500
Heya -- so, I think I may be able to contribute some stuff here. Over the past few months, on and off, I've been messing around with creating additional LUTSequenceOperators, sort of frankensteining together work from Nick's CLF branch and Thomas's various lut-related feature branches, and trying my hand at... uh, reimplementing in numpy much of the work contributed by the OCIO2 crew and the AMPAS

[2019-10-15 09:10] KelSolaar commented on #500
Hey @zachlewis,

That is quite an awesome and fat list! Might be useful to slice that down into multiple PRs down the road. I will have a careful read tomorrow or end of week.

Tagging @nick-shaw !

[2019-10-15 09:21] nick-shaw commented on #500
Great work indeed! I had parked my CLF work until the VWG finished the spec for CLF 2.0, but you have made a major head start on support for that.

[2019-10-18 21:34] KelSolaar opened #521 "Figures based on "colour.plotting.plot_multi_colour_swatches" definition have the grid and ticks enabled on "RtD"."
The figures based on `colour.plotting.plot_multi_colour_swatches` definition have the grid and ticks enabled on "RtD":

![image](https://user-images.githubusercontent.com/99779/67129685-cf936580-f25b-11e9-89e6-728c11407bc6.png)
![image](https://user-images.githubusercontent.com/99779/67129710-db7f2780-f25b-11e9-8623-5253a484ef10.png)

I have no idea as to why currently, this does not happen in the

[2019-10-18 21:43] KelSolaar opened #522 "The Need for Speed"
Hi,

Starting a new issue to discuss about performance improvements and mainly to trackdown the things I have been following since a while.

# GPU Backend
Ideally, we want Numpy to work on the GPU for free, unfortunately, this is not the case, good candidates that came up in recent years:

- [CuPy](https://cupy.chainer.org/): I started to filter which Numpy definition we were using and were suppor

[2019-10-18 22:02] MichaelMauderer commented on #522
+1 for Rust.
A while back I did a comparison of numpy versus a Rust implementation for a CIELAB conversion and Rust came out on top.

But if GPU support is of interest, it might be good to also look at OpenCL.

[2019-10-18 22:13] KelSolaar commented on #522
The enticing aspect with the GPU, and especially with projects such as _Bohrium_ or _Cupy_ is that ideally, you really just have to do `import Bohrium as np` or `import Cupy as np`, in practice and on a complex project like `Colour` it is 100% certain that it will break somewhere :)

As for Rust, we discussed about a new repo, e.g. `colour-rs` or alike (I was even thinking about joining forces wit

[2019-10-18 22:17] KelSolaar opened #523 "About Improving "Colour" Documentation."
This article has some good information that could be useful to apply to our documentation: https://www.divio.com/blog/documentation/. The gist of it is a clear delineation between those 4 pillars:

## TUTORIALS
A tutorial:

- is **learning-oriented**
- allows the newcomer to get started
- is a lesson

_Analogy: teaching a small child how to cook_

## HOW-TO GUIDES
A how-to guide:

- is **goal-orie

[2019-10-18 22:20] MichaelMauderer commented on #522
Agree, if the GPU support is a drop-in replacement that would be awesome, but it's unlikely to be _that_ easy. But then it may still be less work than a re-implementation of colour in another language.

[PyOpenCL](https://mathema.tician.de/software/pyopencl/) seems to be similar to PyCuda. I think the alure of such a solution is, that it could be direcly integrated into rendering pipelines. Using

[2019-10-18 22:33] MichaelMauderer commented on #522
I take back the statement that PyOpenCL is similar to PyCuda. PyCuda seems to have far more integration into numpy.

[2019-10-18 22:54] KelSolaar commented on #522
Both paths are not mutually exclusives and I quite like both, that being said having GPU support would probably be more important I reckon.

[2019-10-18 23:34] MichaelMauderer commented on #522
Do you have specific performance metrics or application profiles in mind?

[2019-10-19 00:10] KelSolaar commented on #522
I have a few processing pipelines related to [Colour - HDRI](https://github.com/colour-science/colour-hdri/) where I would need much better speed. That definition is for example super slow with 5-6K images: https://github.com/colour-science/colour-hdri/blob/develop/colour_hdri/recovery/highlights.py#L88

[2019-10-19 04:47] anderslanglands commented on #522
I’d love to collaborate on a rust port (colorspace-rs is sort of that but
more focused to a certain use case), but it seems like GPU would give you
the biggest bang for your buck. Bohrium in particular looks very
interesting from that point of view - managing transfers and kernel
evaluations lazily for you.

On Sat, 19 Oct 2019 at 13:10, Thomas Mansencal <notifications@github.com>
wrote:

[2019-10-19 08:22] anshulxyz commented on #472
I ran tests without writing any code and this is the final report.
[code]
my branch is up-to-date with your `develop` branch. Can you run the tests and tell me your tests report?

[2019-10-19 11:31] MichaelMauderer commented on #522
Do we have stats on which functions are most used in projects that have colour as a dependency?

[2019-10-19 11:39] KelSolaar commented on #472
It could be because of missing EXR reading file support, can you try installing the **FreeImage** plugin for **imageio** in your python environment for **Colour** as follows:

[code]

[2019-10-20 19:33] KelSolaar commented on #516
@thunders82 : I was hoping to be able to release 0.3.14 over the weekend but there has been a regression on RtD which currently prevents the documentation to build: https://github.com/readthedocs/readthedocs.org/issues/6308

I will keep you posted!

[2019-10-20 19:46] KelSolaar commented on #522
@MichaelMauderer : I would bet that Lab to XYZ and everything around it are hotspots, they are for me :) Not sure for dependents.

Related to that question: We lost the list Github was building for us when removing the setup.py file for Poetry. I will ping Github as it should work with the _requirements.txt_ file too: https://github.com/colour-science/colour/network/dependents

@anderslanglands :

[2019-10-21 12:33] nick-shaw commented on #500
Just noting here for posterity (even though you are probably well aware of it) that my CLF stuff was very experimental and tentative, and only pushed to colour-science so others could have a look. There is a lot missing, even from CLF 1.0 spec. The major gaps are:

1. There is no bit-depth support – it just assumes everything is float.
2. The Range operator (as well as missing the bit-depth based

[2019-10-22 08:57] thunders82 commented on #516
No worries! Thanks for letting me know. I'll wait for your green flag

[2019-10-22 08:58] KelSolaar commented on #516
The RtD team fixed the issue, crossing fingers for this weekend! :)

[2019-10-22 09:17] thunders82 commented on #516
Good news and fingers crossed!

[2019-10-22 12:21] MichaelMauderer commented on #522
Just another thought to leave here: is it possible to leverage OpenCV for GPU operations?

[2019-10-22 20:05] KelSolaar commented on #522
Probably some parts yeah, I don't think it is generic enough though! Worth a look for sure.

[2019-10-23 07:41] zachlewis commented on #500
Holy crap, I wrote far too many words. Sorry about that, it seemed like less at the time.

Yeah, I definitely didn't mean to suggest that I'd dump all that goodness in a single PR! That would be kind of a nightmare. No, it's gonna take me some time just to get everything fully refactored and migrated over into meaningful feature branches; and even after that, I've got my work cut out for me in ter

[2019-10-23 08:12] nick-shaw commented on #500
FWIW, `feature/CLF` is now rebased on `develop` in my fork, as of yesterday.

[2019-10-25 19:52] KelSolaar opened #526 "[FEATURE]: Implement support for "Yrg" colourspace."
References
---
- [Chromaticity coordinates for graphic arts based on CIE 2006 LMS with even spacing of Munsell colours](https://library.imaging.org/cic/articles/27/1/art00038)

[2019-10-26 04:58] KelSolaar commented on #523
I re-organised the [README](https://github.com/colour-science/colour/blob/develop/README.rst) and the [Manual] to delineate better the various sections as per the above. It was also the occasion to create a [How-To Guide](https://colab.research.google.com/drive/1NRcdXSCshivkwoU2nieCvC3y14fx1X4X#offline=true&sandboxMode=true)

More to come!

[2019-10-26 05:13] KelSolaar commented on #515
Closing this one @chesschi, feel free to add any comments!

[2019-10-26 05:13] #515 closed

[2019-10-26 05:24] KelSolaar commented on #516
Closing this one as I will release in the coming hours!

[2019-10-26 05:24] #516 closed

[2019-10-28 06:57] KelSolaar opened #527 "Implement support for thin-film interference computation."
References
---
- #525

[2019-11-12 07:34] #507 closed

[2019-11-12 07:34] KelSolaar commented on #507
Thanks to all the contributors! :)

[2019-11-20 05:50] KelSolaar opened #529 "Fix incorrect "Krystek (1985)" implementation."
Nasty bug induced by not looking carefully enough at the reference: https://github.com/colour-science/colour/pull/298#issuecomment-555548579. Sadly, even with incorrect values, it produces meaningful results...

[2019-11-21 09:16] #529 closed

[2019-11-28 22:44] alban-sol opened #531 "Memory leak with plotting"
I built a led model with Colour '0.3.13', but as the project grew, I noticed a slow-down in the script due to a growing memory.

It seems that with each time `plot_single_sd()` is called, the memory  increase. I'm not a professional programmer, so I can't dig deeper. But here is how to simply reproduce the error:

`
import colour
from colour import plotting
sample_sd_data = {
    380: 0.048,
    3

[2019-11-29 05:04] KelSolaar commented on #531
Hi @alban-sol,

It is very likely because Matplotlib does not close the figure automatically, try that:

[code]

[2019-12-10 10:18] KelSolaar commented on #531
Closing this one for now @alban-sol, feel free to comment if it is not resolved.

[2019-12-10 10:18] #531 closed

[2019-12-10 14:37] sdbbs commented on #199
Hi all,

Just wanted to post an example of this, as I had a hard time finding anything similar.

With the code below, you can get a plot within a predefined matplotlib subplot, which looks like this:

![test-colour](https://user-images.githubusercontent.com/48317456/70538614-b1aef680-1b62-11ea-9223-e15a3a8f4d4b.png)

This works in:

* colour.__version__ 0.3.13 in Anaconda, Windows 10
* colour.__ve

[2019-12-10 14:52] MichaelMauderer commented on #199
Thanks for the feedback. Could you describe what happens instead? Or if there is an exception, post the backtrace?

[2019-12-10 14:59] sdbbs commented on #199
Hi @MichaelMauderer ,

Ah, yeah - sorry; about the:

... it is simply because of API changes, I think; first problem is:

[code]

Then, if I comment the `colour_style()` line, I get:

[code]

I presume `plot_RGB_chromaticities_in_chromaticity_diagram_CIE1931` in v0.3.11 must have been called `RGB_colourspaces_chromaticity_diagram_plot_CIE1931` ( via https://github.com/colour-science/colour/blob/v0

[2019-12-10 18:07] KelSolaar commented on #199
`colour.plotting.colour_style` _equivalent_ would be `colour.plotting.colour_plotting_defaults` in 0.3.11.

Yes! [0.3.12](https://github.com/colour-science/colour/releases/tag/v0.3.12) was a rather large release and a ton of stuff has been renamed, we support forward migration, e.g. redirected the old object name to the new one and emit a warning but it only works one way :)

[2019-12-12 07:43] KelSolaar commented on #457
Initial perusal has resulted into addition of new illuminants as per #533. More to come hopefully!

[2019-12-14 02:23] KelSolaar commented on #472
@anshulxyz : I'm taking over this one! It is mostly implemented already! Thank you.

[2019-12-19 19:46] KelSolaar opened #537 "Investigate incorrect "Domain-Range" scale in "Munsell Renotation System" code."
I came across issues earlier when using the _Automatic Colour Conversion Graph_ and our _Munsell Renotation System_ code.

[2019-12-20 13:04] pfk-beta opened #538 "CIE 1994 colour difference implementation might generate NaN values."
I do not have certain pixel for reproducing error, but according to http://brucelindbloom.com/index.html?Eqn_DeltaE_CIE94.html footnotes it is possible. I would like to report it, and solve pull request.

[2019-12-21 02:23] KelSolaar commented on #538
Hi @pfk-beta!

Thanks for reporting this! I think it would be great to identify which cases are generating NaNs first.  I'll continue the discussion in #539! See you there :)

Cheers,

Thomas

[2019-12-22 01:34] #537 closed

[2019-12-22 20:45] bersbersbers opened #540 ""TypeError" exception caused by "Numpy" 1.18 in "colour.SpectralShape.range" method."
[code]

[2019-12-22 20:53] KelSolaar commented on #540
Hi @bersbersbers,

This should be fixed in [develop](https://github.com/colour-science/colour/tree/develop) as per #536.

Cheers,

Thomas

[2019-12-22 20:53] #540 closed

[2019-12-22 23:35] sobotka commented on #487
So this is exactly the edge case I was getting at in the channel, and it seems to be negating the illuminant in the solve for the primaries. That is, I _think_ we can target Illuminant E here for both sum-to-one and the target SDs, and the result would be the same?

Needless to say, does it not make sense to make this more versatile in Colour and target any set of primaries? Would that be logical?

[2019-12-23 07:59] AndersAtEndian opened #541 ""TypeError" exception caused by "Numpy" 1.18 in "colour.SpectralShape.range" method."
Using numpy 1.18.0 (just released) I get a ```TypeError: object of type <class 'numpy.float64'> cannot be safely interpreted as an integer``` when I import colour.

Creating a new virtual environment.

[code]

Install colour.

[code]

Trying it out.

[code]

Versions installed.

[code]

If I revert to numpy 1.17.4 everything works as expected.

[2019-12-23 08:46] KelSolaar commented on #541
Hi @AndersAtEndian,

This should be fixed in [develop](https://github.com/colour-science/colour/tree/develop) as per #536.

Cheers,

Thomas

[2019-12-23 08:46] #541 closed

[2019-12-24 14:58] dtbulmerJRs commented on #339
I solved it by copying the module colour.py from the python2 directory to the python3 directory? took me weeks of trying things out to fix it

'''
sudo cp /usr/local/lib/python2.7/dist-packages/colour.py /usr/local/lib/python3.7/dist-packages/colour.py
'''

[2019-12-24 20:35] KelSolaar commented on #339
Hi @dtbulmerJRs,

You should avoid installing anything in your system Python environment, prefer a Virtual Environment ideally.

Cheers,

Thomas

[2020-01-06 18:53] sobotka opened #542 ""colour.io.write_LUT_SonySPI3D" definition generates duplicate indices."
`colour.write_LUT(colour.LUT3D(size=10), "./raw.spi3d")`

Problematic region of resultant LUT3D:

[code]

[2020-01-06 21:53] KelSolaar commented on #542
So writing the indices to floating points shows some precision issues:

[code]

Because converting to integer truncates:

[code]

We should round before:

[code]

[2020-01-06 21:56] KelSolaar commented on #542
Paging @nick-shaw and @jdvandenberg!

[2020-01-07 06:03] hajimen opened #543 "Fix the various "DeprecationWarning" with Python 3.8."
I found two DeprecationWarnings.
`python3.8/site-packages/colour/io/luts/lut.py:20: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.9 it will stop working`
`<__array_function__ internals>:5: DeprecationWarning: object of type <class 'numpy.float64'> cannot be safely interpreted as an integer.`
Thanks,

[2020-01-07 09:49] nick-shaw commented on #542
It's certainly superficially confusing that:
[code]
but
[code]
Is the solution as simple as adding a `np.around` as shown earlier?
[code]

[2020-01-07 10:02] KelSolaar commented on #543
Thanks @hajimen! I will take a look. Was it on import?

[2020-01-07 11:01] hajimen commented on #543
Dockerfile for Amazon Linux 2:
[code]

bash:
[code]

Python:
[code]

It generates:
[code]

[2020-01-07 11:04] hajimen commented on #543
Overmore, the unittest above fails in numpy==1.18.1.
[code]

[2020-01-07 11:07] KelSolaar commented on #543
Thanks!

[2020-01-07 11:39] #542 closed

[2020-01-10 23:01] matthiasbirkich opened #545 "2D xy-chromaticity diagram plot in colorscience python library fails"
Dear developers,

thank you very much for developing the colorscience library for python.
I have tested a couple of calculators and imaging tools for color science to proof the python library.
In my opinion in one point the software is not doing the right.
The plot of xy-chromaticity values in the xy-diagram will not reflect the right coordinates, when it is used with the command:

plot_RGB_chroma

[2020-01-11 01:06] sobotka commented on #545
Should be rather simple. The xy chromaticity diagram is given via several plotting functions. For your case, I think you are looking for the three primaries as expressed in xy coordinates.

You can use the built in primaries, or optionally, make your own array. It should be something like this for example, using the perceptually uniform 1976 plot:
[code]

[2020-01-11 05:36] KelSolaar commented on #545
Hi @matthiasbirkich,

I'm not sure to understand this part:

Would you mind clarifying please?

[2020-01-11 08:42] matthiasbirkich commented on #545
Dear KelSolar, thank you for your fast response.
The xy-chromaticity-coordinates are 0.30654595, 0.48251036.
In the diagram the coordinates are laying at 0.30, 0.425. This circumstance I does not understand.
Best regards
Matthias

[2020-01-11 12:21] nick-shaw commented on #545
`plot_RGB_chromaticities_in_chromaticity_diagram_CIE1931` expects linear RGB values in the specified colour space, and converts them to CIExy for plotting. What is your input?

[2020-01-11 12:42] matthiasbirkich commented on #545
Dear nick-shaw,
ok, that’s what I expected, but not proofed. Sorry!
I thought RGB is something like 0-255. But here it is %RGB/100...
My input code is:
importcolour
import matplotlib.pyplot as plt
import numpy as np
from colour.plotting import *
from colour.utilities import message_box
from pprint import pprint
xyY = np.array([0.30654595, 0.48251036, 0.2328437852])
xy = print(colour.xyY_to_xy(xyY)

[2020-01-11 12:50] matthiasbirkich commented on #545
What I also not understand:
RGB is 3dimensional, xy-chromaticity plots are definitely 2dimensional. The RGB output from the xyY input is:
0.323895, 0.405664,  0.000130. Does Y is always negligible here?
best regards Matthias

[2020-01-11 16:46] matthiasbirkich commented on #545
Thanks for your support, I will go on learning Python language ;-)

[2020-01-11 16:46] #545 closed

[2020-01-11 20:48] KelSolaar commented on #545
Hey @matthiasbirkich,

The Chromaticity Diagram(s) is(are) top-down view(s) along the Luminance/Lightness axis of a particular colour model/space. The CIE 1931 Chromaticity Diagram uses CIE xy**Y** colour model/space, CIE 1976 UCS uses CIE **L**uv. I see that you closed the issue, was your issue resolved then?

Cheers,

Thomas

[2020-01-12 00:37] MarcusCalhoun-Lopez opened #546 "Re-include "setup.py" file in distribution."
I maintain [Colour](https://github.com/macports/macports-ports/blob/master/python/py-colour/Portfile) for the [MacPorts](https://www.macports.org) project.
The Python installation framework for MacPorts is built around the existence of setup.py.
As of Colour 0.3.14, however, setup.py no longer exists in the downloadable release file.
Can setup.py be restored?
Thank you.

[2020-01-12 00:48] KelSolaar commented on #546
Hi @MarcusCalhoun-Lopez,

Thanks, so this should be fixed in the future 0.3.15. We adopted [Poetry](https://poetry.eustace.io/) during 0.3.14 and as a consequence, we did not really need the `setup.py` file anymore, so 0.3.14 was released without it. However, it turns out that a few processes are requiring it, e.g. Github dependencies tracking, etc... Thus we have reinstated it!

Cheers,

Thomas

[2020-01-12 00:56] MarcusCalhoun-Lopez commented on #546
Thank you very much for the information.

-Marcus

[2020-01-12 00:58] KelSolaar commented on #546
You are welcome. BTW, thanks a lot for managing the MacPorts version of Colour!

[2020-01-18 01:37] #395 closed

[2020-01-18 01:40] #472 closed

[2020-01-20 10:10] #546 closed

[2020-01-20 10:10] #543 closed

[2020-01-23 19:02] mokincha opened #548 ""TypeError" exception raised by "Numpy" 1.18 in "colour.SpectralShape.range" method."
"import colour" fails on a fresh install of Python 3.8.1 and colour-science 0.3.14 using all the current libraries.

C:\windows\system32>python
Python 3.8.1 (tags/v3.8.1:1b293b6, Dec 18 2019, 23:11:46) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Program Files\Python38\lib\site-packages\nu

[2020-01-23 21:54] KelSolaar commented on #548
Hi @mokincha,

This is resolved in the `develop` branch and I will try to get a new release over the weekend!

Cheers,

Thomas

[2020-01-24 00:58] sobotka opened #549 "[REGRESSION(?)] Spectral locus sometimes doesn't receive RGB colour in 3D plotting"
As per @KelSolaar, adding this here to keep track of.

The plotting library is approximately two years old now, and it is possible that some regressions have appeared. It seems that when issuing certain functionality that works fine in 2D, the 3D equivalents are lost.

For example:
[code]
In this case, the spectral locus appears as solid black:
![happy-little-colours](https://user-images.githubuse

[2020-01-24 21:20] pathakcodes commented on #499
@KelSolaar  I am here through GSoC page and interested in implementing new CAM.

I have studied colour.appearance module and can't access the paper as its paid.
Help me get access to it. I am interested in working on this project.

[2020-01-24 22:33] KelSolaar commented on #499
Hi Shivam,

Welcome :)

I got back to you via email, see you there!

Cheers,

Thomas

[2020-01-24 23:02] KelSolaar commented on #549
Thanks @sobotka, will looksee when I have some spare cycles for that!

[2020-01-25 05:18] #548 closed

[2020-01-26 05:30] KelSolaar opened #550 "Add "Venice" variants of the "S-Gamut3" and "S-Gamut3.Cine" colourspaces."
References
---

- https://github.com/ampas/aces-dev/blob/7d074af45d9826513403a450490855b9cc6bcf3a/transforms/ctl/idt/vendorSupplied/sony/IDT.Sony.Venice.SGamut3.ctl

[2020-01-27 09:02] bersbersbers commented on #540
And I believe this has not shipped in `0.3.15`, thanks!

[2020-01-27 09:03] KelSolaar commented on #540
Yes it should be! :)

[2020-01-27 10:52] nick-shaw commented on #550
Is that a 'colourspace' as such? Sony describe them as still being S-Gamut3 and S-Gamut3.Cine, but with a different matrix to transform them to AP0, which doesn't make much sense to me. Are you proposing back-calculating the effective primaries which would yield those matrices?

[2020-01-27 10:58] KelSolaar commented on #550
That is the plan indeed!

[2020-01-27 17:14] mokincha commented on #548
Library now loads and works as it should.  Much thanks for the excellent support!

[2020-01-29 07:17] KelSolaar opened #551 "Implement a complete light quality report."
We have a few plots for light quality that give the bare essentials that being said, it would be great to design a good light quality report, e.g.

![image](https://user-images.githubusercontent.com/99779/73335407-2802e600-42d4-11ea-9587-3cecce06495a.png)

[2020-02-03 06:03] hminle opened #552 "How to plot on top of existing figures?"
Hi,

Could you show me how to plot on top of existing figures?
I find that you guys have a standalone mode.
But I cannot use it.
Here is my code
[code]
![image](https://user-images.githubusercontent.com/16201681/73629328-bfdc3900-4620-11ea-84ae-d4bafcbeb7d9.png)
![image](https://user-images.githubusercontent.com/16201681/73629338-c79bdd80-4620-11ea-83f5-189bc14661d8.png)
![image](https://user-imag

[2020-02-03 06:17] KelSolaar commented on #552
Hi @hminle,

Jupyter Notebook tends to display the figure/axes immediately if the last result from a call is a figure or an axes. Try to put everything in a single cell.

[2020-02-03 14:42] hminle commented on #552
Hi @KelSolaar ,
I have tried it:
![image](https://user-images.githubusercontent.com/16201681/73662214-664c2c80-4669-11ea-9c44-c57b812261de.png)

But nothing happens.

[2020-02-03 14:44] hminle commented on #552
Hi @KelSolaar ,

It works. Thank you a lot :)
![image](https://user-images.githubusercontent.com/16201681/73662457-d22e9500-4669-11ea-8ee5-75544cce6714.png)

[2020-02-03 14:44] #552 closed

[2020-02-03 18:14] KelSolaar commented on #552
Note that if you are interested with plotting image chromaticities there is that definition that does the heavy lifting for you: https://colour.readthedocs.io/en/develop/generated/colour.plotting.plot_RGB_chromaticities_in_chromaticity_diagram_CIE1931.html#colour.plotting.plot_RGB_chromaticities_in_chromaticity_diagram_CIE1931

https://colab.research.google.com/drive/1NRcdXSCshivkwoU2nieCvC3y14fx1

[2020-02-04 12:45] hminle commented on #552
@KelSolaar Thank you very much. It's exactly what I need 👍 👍

[2020-02-04 12:54] hminle commented on #552
@KelSolaar you guys should put the colab notebook here
![image](https://user-images.githubusercontent.com/16201681/73746570-76c0dd80-4723-11ea-9cbe-4bade6980189.png)
It's super helpful 👍

[2020-02-04 19:05] KelSolaar commented on #552
So it should be linked here close to the top!

 https://colour.readthedocs.io/en/develop/#how-to-guide

[2020-02-05 04:13] KelSolaar opened #553 "Implement support for "ICaCb" colourspace."
References
---
- https://www.hdm-stuttgart.de/~froehlichj/diss/Jan_Froehlich_Thesis_2018_02_15_Acrobat_300dpi.pdf

[2020-02-05 04:14] KelSolaar opened #554 "Implement support for Y"u"v" colourspace."
References
---
- https://www.hdm-stuttgart.de/~froehlichj/diss/Jan_Froehlich_Thesis_2018_02_15_Acrobat_300dpi.pdf

[2020-02-06 22:47] hminle opened #555 "Is there something wrong in the "colour.plotting.plot_RGB_chromaticities_in_chromaticity_diagram" definition?"
Hi Colour Team,

I found something strange inside def plot_RGB_chromaticities_in_chromaticity_diagram:
https://github.com/colour-science/colour/blob/c9a758d7f807217dfca799f33aa9d137f04ca445/colour/plotting/models.py#L738

Why you guys use the same illuminant (colourspace.whitepoint) for both source and destination colour space?

Best,
Hoang

[2020-02-06 23:09] hminle opened #556 "How to convert between colour spaces?"
Hi Colour Team,

I want to convert from ProPhoto RGB to sRGB
I think of one way to do it: ProPhoto RGB --> XYZ --> sRGB
But the result seems to be wrong
![image](https://user-images.githubusercontent.com/16201681/73987166-7edc7100-490d-11ea-8eaf-b6c4df2e9811.png)

And another thing, I don't know how to choose ILLUMINANT values for the converting function.
Do you guys have any guide lines?

Best,
H

[2020-02-07 10:43] KelSolaar commented on #555
Hi @hminle,

It might seem odd indeed but this is correct: Given a RGB array encoded in a given colourspace, e.g. ProPhoto RGB, we want to see its chromaticity coordinates as encoded by that colourspace. The conversion from RGB to XYZ needs to be done in a way where no whitepoint change happens, this is to say that the whitepoint for plotting the chromaticities should be that of the RGB array, i.e

[2020-02-07 10:48] KelSolaar commented on #556
The easiest way to do that is to use the `colour.RGB_to_RGB` definition, it will compute a transformation matrix with chromatic adaptation if needed (and required by the user).

Note that to get the ProPhoto RGB colourspace class instance, you don't have to do what you did with your first line of code. We do that in the `colour.plotting` sub-package because the filtering definitions accept regular

[2020-02-07 13:44] hminle commented on #555
Oh thank you, now I got it

[2020-02-07 13:44] #555 closed

[2020-02-07 13:57] hminle commented on #556
Hi @KelSolaar ,
Thank for your guide
I just wonder: in the RGB_to_RGB function, the output is also based on chromatic_adaptation_transform, right?

[2020-02-07 15:52] hminle commented on #556
Hi @KelSolaar ,
I've just tried your way.
But there're still some points outside the gamut region for sRGB.
![image](https://user-images.githubusercontent.com/16201681/74035404-331add80-4988-11ea-8f2e-bc6a18c1592f.png)

Best,
Hoang

[2020-02-07 19:08] KelSolaar commented on #556
It is entirely possible that ProPhoto RGB colours are out of sRGB Gamut, the former is much larger than the latter.

[2020-02-08 02:13] hminle commented on #556
Hi @KelSolaar
So you guys do not apply any Gamut Mapping Algorithm, right?
(https://graphics.stanford.edu/courses/cs178/applets/gamutmapping.html)

Best,
Hoang

[2020-02-08 02:24] KelSolaar commented on #556
Unfortunately not but I have started to look at that seriously here: https://github.com/colour-science/colour/tree/feature/gamut_mapping, and related issues are #154 and #311.

[2020-02-08 04:26] sobotka commented on #556
Something about that plot is fishy; the chromaticities shouldn’t be clustered along the edge of the locus. Something seems odd there?

[2020-02-08 14:48] hminle commented on #556
@sobotka , as KelSolaar mentioned earlier, they are investigating about the gamut mapping.

[2020-02-08 14:48] #556 closed

[2020-02-08 16:11] sobotka commented on #556
It’s unrelated to gamut mapping.

The chromaticities in the source to destination will remain in relative positions. The issue is the collapsing of the chromaticities along that right edge of the spectral locus.

Is it possible that the ProPhoto image was clipped to ProPhoto?

[2020-02-08 19:05] hminle commented on #556
Hi @sobotka,
I got the image from this link: https://data.csail.mit.edu/graphics/fivek/
The image ID: 0001, expert A.
You can download and check yourself.
The expert edits the raw DNG image using Photoshop and save it with ProPhoto RGB.

I think this process may have some effects on color chromaticities.

Best

[2020-02-08 22:35] nick-shaw commented on #556
I think it may be related to the use of unlinearised data. `RGB_to_RGB` expects and produces linear data unless `apply_cctf_decoding` and `apply_cctf_encoding` are set to ‘True`. Likewise I believe the plotting functions expect linear data.

[2020-02-11 10:55] aurelienbl opened #557 "How to save images?"
Hello,

Thank you very much for this great package.
I have a very simple question. Probably to simple that I could not find the solution in the documentation.

How can I save image on disk in a proper format (png, jpg...).
More precisely, I have followed the colour-correction tutorial, and it is not clear to me how you save the corrected image in the end.

A bit of help would be appreciated!

Best

[2020-02-11 19:49] KelSolaar commented on #557
Hi @aurelienbl,

Simply passing the `filename=my_image_name.png` kwarg to most of the plotting definitions should be enough!

Cheers,

Thomas

[2020-02-11 20:13] aurelienbl commented on #557
Hello Thomas,

Thank you for your replied, but I still have inconsistent result.

After the correction is done, I do:
`colour.io.write_image(corrected_image, 'corrected_image.png')`

Here is the result I have:
![failed_saved](https://user-images.githubusercontent.com/5089617/74274844-15949d80-4d13-11ea-84d3-e3d47e00425d.jpeg)
On the left, the corrected as displayed by the tutorial within the pytho

[2020-02-11 20:27] KelSolaar commented on #557
Oh sorry, I did not read carefully and you are not using the plotting code.

In order to write a PNG or JPG, i.e. 8-bit data, image to disk, you would need to non-linearly encode the image first, e.g. `my_image = colour.cctf_encoding(my_image)` then you can write it.

Is it possible to let me know which image IO backend you are using by giving me the output of the following definition: `colour.uti

[2020-02-11 20:46] aurelienbl commented on #557
Hum I think I tried that, Here is corrected png.
![corrected](https://user-images.githubusercontent.com/5089617/74277329-a0779700-4d17-11ea-9944-543b29ac81ef.png)
(for reference I did
`colour.io.write_image(colour.cctf_encoding(corrected) ,'corrected.png')`)

Here is the output of  `colour.utilities.describe_environment()`:
`defaultdict(collections.OrderedDict,
            {'Interpreter': OrderedD

[2020-02-11 22:11] KelSolaar commented on #557
Looks like the image is compressed somehow! Let me get back to you tonight.

Bests,

Thomas

[2020-02-12 01:19] KelSolaar commented on #557
Allright, took 5 minutes to look at that, it seems like `imageio` (PIL?) is trying to be smart and whenever it has floating point data casted to 8-bit, it remaps it as follows: [min, max] --> [0, 255] thus you should do something like that:

`my_image = (colour.cctf_encoding(np.clip(my_image, 0, 1)) * 255).astype(np.uint8)`

[2020-02-12 09:04] aurelienbl commented on #557
Great ! It works fine like this.
Thank tou so much for the help.

Aurélien

[2020-02-12 09:52] KelSolaar commented on #557
You are welcome! :)

[2020-02-12 09:52] #557 closed

[2020-02-18 06:52] KelSolaar opened #558 "Implement support for "Chromatic adaptation transform by spectral reconstruction"."
References
---
- https://onlinelibrary.wiley.com/doi/abs/10.1002/col.22384

[2020-02-20 12:12] Wagyx opened #559 "Units of the spectral interval in "colour.sd_to_XYZ" definition."
Hello,

I am generating black body spectral radiance using
`sd= colour.sd_blackbody(5800)`
which gets values between 1.78e13 and 2.68e13 in W/sr/m²/**m** as expected.
Then, I convert the spectrum to xyz in order to get the visual Luminance (in cd/m²) from the Y.
[code]
I get a value of 1.86922064558e**18** for the Y when the true magnitude should be a 9.
I know I could correct for that using the k

[2020-02-23 02:37] KelSolaar commented on #559
Hi @Wagyx,

Sorry for the late answer to a great question :) So basically the `colour. sd_to_XYZ` definition and the various methods it supports are intrinsically dimensionless/unitless.

`dw/∆λ` is thus likewise, dimensionless, its purpose is only to account for the step/bin size of the discretized data. For example, assuming you had a bin size of 1nm, its value would be 1, likewise, for 5m bin s

[2020-02-28 09:41] Wagyx commented on #559
Thank you for clarifying the dimensionless aspect of the function sd_to_XYZ.
Indeed, I've already tried the scaling of the values outside the function and it worked, obviously.
I deal with absolute values so I guess the responsibility of having the correct units lies in my hands.

[2020-02-28 09:46] KelSolaar commented on #559
We should probably 1) document that properly and 2) maybe as I was suggesting above scale the values. I will give it a stab for testing and see what is happening.

@MichaelMauderer : What do you think about that? Question being: Should we transform the values so that absolute computation does not require any scaling.

[2020-02-28 10:05] KelSolaar commented on #559
As predicted, it does not change anything on our end, the only test failing besides those of `colour.sd_blackbody` is a doctest for `colour.temperature.uv_to_CCT_Ohno2013`:

[code]

Related to precision, so no problem at all.

[2020-02-28 17:56] MichaelMauderer commented on #559
I think better than changing the value and subtly breaking code using it, might be adding the current behaviour to the doc and create a new function with the added scaling. Maybe also deprecate the current function and add a new function with `nm` in the name as an explicit replacement.

[2020-02-28 20:23] KelSolaar commented on #559
Alternatively, what about having an argument that enables the scaling (but is off by default) while issuing a warning each time the definition is used saying that the values will be scaled in a future release and once this done, warning again saying that values have been scaled for a few releases. We are still in alpha after all ;)

[2020-03-06 03:53] KelSolaar commented on #559
As I was going through Mitsuba 2.0, I came across this: https://github.com/mitsuba-renderer/mitsuba2/blob/master/src/spectra/blackbody.cpp#L80

They effectively scale the spectrum, maybe we could say that this is the practice, document the expected units properly and change it.

[2020-03-18 18:33] matthiasbirkich commented on #545
Dear Troy,

thank you for your answer.
I haven’t recognized your comment.
Now the issue is solved.
Stay healthy and happy!
best regards
Matthias

Troy James Sobotka <notifications@github.com> schrieb am Sa. 11. Jan. 2020
um 02:06:

--
--
Matthias Birkicht
Georg-Seebeck-Straße 47
27570 Bremerhaven
mobile: 01609 48 68 28 7
phone: +49 471 306608
work: +49 421 23 800 34
skype: matthias.birkicht
www.ob

[2020-03-21 03:44] ValZapod commented on #121
Actually here it is a good questions and such. https://sci-hub.si/10.1002/9780470175637

[2020-03-21 03:50] ValZapod commented on #121
@KelSolaar Listen, there was a mistake in cite to this matrix https://en.wikipedia.org/wiki/LMS_color_space#Hunt,_RLAB (Normalized to D65) as can be seen in errata to that cite (a book) http://rit-mcsl.org/fairchild//PDFs/Errata2e.pdf

And I am not even talking to the fact it is a matrix used for differenet thing. The correct matrix can be seen in https://sci-hub.si/10.1002/9780470175637 or in htt

[2020-03-21 03:53] KelSolaar commented on #121
Hi @ValZapod,

We are using the correct one, thanks for checking though!

https://github.com/colour-science/colour/blob/c8acc31a8507dae1af81d7958490ac3428dc2728/colour/adaptation/datasets/cat.py#L184

Cheers,

Thomas

[2020-03-21 04:13] ValZapod commented on #121
@KelSolaar No, you did not undertsand. The mistake was not in CAT02_CAT matrix. It was in the Hunt and RLAB color appearance models (for D65), look into diff in wikipedia.
https://en.wikipedia.org/w/index.php?title=LMS_color_space&diff=946587387&oldid=946584808&diffmode=source
https://github.com/colour-science/colour/blob/c8acc31a8507dae1af81d7958490ac3428dc2728/colour/adaptation/datasets/cat.py#L

[2020-03-21 04:21] KelSolaar commented on #121
Well, the quote you gave in https://github.com/colour-science/colour/issues/121#issuecomment-601989207 is for CAT02:

[code]

Hence my answer :)

I will look at the Von Kries one.

[2020-03-21 04:24] ValZapod commented on #121
It is complecated, apparently author gave Von_Kries matrix insteed of Mcat02 matrix in the book and even that Von_Kries matrix was for D6X, where X is not 5)) So the matrix for D65 is slightly different as follows 0.4002 & 0.7075 & -0.0807 \\ -0.2280 & 1.1500 & 0.0612 \\ 0 & 0 & 0.9184

[2020-03-21 04:36] KelSolaar commented on #121
Note that for IPT, we use the one as given in the model: https://github.com/colour-science/colour/blob/c8acc31a8507dae1af81d7958490ac3428dc2728/colour/models/ipt.py#L47

So it does not really matter in for any of the models, however, if you want to use chromatic adaptation only with that particular matrix, you are using something whose origin is unclear. I might actually contact Lindbloom directly

[2020-03-21 04:40] ValZapod commented on #121
My main source is this (it is talking about Von_Kries) https://sci-hub.si/10.1002/9780470175637 page 305.

[2020-03-21 04:51] KelSolaar commented on #121
The matrix there is the IPT one, it does not explain where the Von Kries from Lindbloom is coming from though.

[2020-03-21 05:04] ValZapod commented on #121
Oh, I found it. Here. https://scholarworks.rit.edu/theses/2858/ Page 128. Looks I make a mistake and RLAB is actually not the same as D65 from IPT. Can you look, please? "The normalized form of the matrix used in the model was derived from multiplying the D65 matrix whose diagonal elements comprise to be D65 white data."

[2020-03-21 05:14] KelSolaar commented on #121
Good find! The matrix is sourced from here: https://onlinelibrary.wiley.com/doi/abs/10.1002/col.5080180308

[2020-03-21 05:18] KelSolaar commented on #121
Looking at the code it is actually the CIE1994 / Nayatani95 one and we use it directly:

https://github.com/colour-science/colour/blob/c8acc31a8507dae1af81d7958490ac3428dc2728/colour/appearance/nayatani95.py#L61

https://github.com/colour-science/colour/blob/c8acc31a8507dae1af81d7958490ac3428dc2728/colour/adaptation/cie1994.py#L46

Mistery solved, I might have come to the same conclusion 6 years a

[2020-03-21 05:20] ValZapod commented on #121
So I will revert wikipedia then? It would be perfect to undertand how that get that IPT matrix... Sigh. Okay, then.

[2020-03-21 05:23] KelSolaar commented on #121
Unfortunately, it is quite a common issue in this domain, usually arises from errors when reproducing values to precision/rounding related error.

[2020-03-21 05:34] ValZapod commented on #121
Reverted all that, very sorry for the noise(( What about IPTPQc2 with reshaping BTW, are you going to do it?? See https://patents.google.com/patent/US20180131938A1/ and here https://github.com/mpv-player/mpv/issues/7326#issuecomment-592221831

[2020-03-21 05:39] KelSolaar commented on #121
No worries and you are welcome, I started to sweat a bit when you mentioned CAT02 earlier though :)

If the model is specifically patented, we probably won't! Note that we have ICtCp which is IPT + PQ: and probably very close (if not the same): https://github.com/colour-science/colour/blob/c8acc31a8507dae1af81d7958490ac3428dc2728/colour/models/rgb/ictcp.py

[2020-03-21 05:50] ValZapod commented on #121
Yep, like ICtCp except for the second matrix that is just like here for IPT except one number is different...
So nope, it is Dolby Vision)) There is also chroma reshaping that is done in SEI of HDMI (that one is still not implemented in VLC, alas, only in Java in one place) and there are also some other problems, VLC in their placebo partialy done that but alas, colours are not perfect and there s

[2020-03-21 05:56] KelSolaar commented on #121
It is patented, so it is pretty much a no-go for a library like Colour.

[2020-03-21 21:27] KelSolaar commented on #559
@Wagyx, @MichaelMauderer: The [develop](https://github.com/colour-science/colour) branch should have the scaling now so that it is in line with what Mitsuba does. I have updated the docstrings and a warning will be emitted the first time the definition is used by a user.

[2020-03-21 21:27] #559 closed

[2020-03-21 22:16] KelSolaar commented on #207
The standard has been updated and is available here: https://www.ies.org/product/ies-method-for-evaluating-light-source-color-rendition/

[2020-03-30 08:14] KelSolaar opened #564 "Implement support for "HCL" colourspace."
References
---
- https://pdfs.semanticscholar.org/206c/a4c4bb4a5b6c7b614b8a8f4461c0c6b87710.pdf
- http://w3.uqo.ca/missaoui/Publications/TRColorSpace.zip
- https://en.wikipedia.org/wiki/HCL_color_space

[2020-03-30 10:38] KelSolaar commented on #564
Here is non-working initial implementation, it does not round-trip properly:

[code]

[2020-04-04 21:37] hminle opened #565 "Difference between output of "colour.read_image" definition and Matlab "imread"."
Hi Colour Team,

I using colour.read_image to read a ProPhoto RGB image 16 uint, but as I double check with Matlab imread.
The pixel values are different.

Why is that?

Thanks

[2020-04-05 01:31] KelSolaar commented on #565
Hi @hminle,

Colour converts any image to `float32` by default so I would say this is the core reason for differences: https://github.com/colour-science/colour/blob/c8acc31a8507dae1af81d7958490ac3428dc2728/colour/io/image.py#L246

Cheers,

Thomas

[2020-04-05 01:35] KelSolaar commented on #565
Oh and btw, note that we do not linearise the image, so you would need to know which encoding function was used to save the image so that you can use the corresponding decoding function. If Prophoto RGB it might be [colour.models.cct_decoding_ROMMRGB](https://github.com/colour-science/colour/blob/c8acc31a8507dae1af81d7958490ac3428dc2728/colour/models/rgb/transfer_functions/rimm_romm_rgb.py#L121).

[2020-04-05 01:41] hminle commented on #565
Hi @KelSolaar , even I choose to read image as uint 16 for both Matlab and Colour, it's still different.
Not sure why?
By the way, when reading into float32, does Colour normalize the output?

Thanks

[2020-04-05 03:26] KelSolaar commented on #565
Yes it does! The relevant conversion code is here: https://github.com/colour-science/colour/blob/c8acc31a8507dae1af81d7958490ac3428dc2728/colour/io/image.py#L101

Here is a quick Colab notebook showing some back and forth: https://colab.research.google.com/drive/1D4uB_K2MknkdB6aJ65sejcza8Ex0mKkr

It should be useful! Let me know if you have any questions!

[2020-04-10 10:24] KelSolaar opened #566 "Incoherent behaviour of "colour.SpectralDistribution.interpolate" and "colour.MultiSpectralDistributions.interpolate" methods."
I noticed this a while ago and had that in my bottom-less stack of stuff to address:

Context
---

The logic used by the `colour.SpectralDistribution.interpolate` and `colour.MultiSpectralDistributions.interpolate` methods to choose the interpolator was implemented as follows:

[code]

Basically, if the `interpolator` argument is not passed, the spectral distribution uniformity is tested and the

[2020-04-10 12:09] #566 closed

[2020-04-14 21:11] hminle opened #570 "Why is "Display P3 - Green Primary" different from the ICC profile?"
Hi Colour Team,

I compare Display P3 color profile in my macbook and your models of Display P3, and found that, the Green primary is quite different:
![image](https://user-images.githubusercontent.com/16201681/79274662-e6192300-7e72-11ea-92fb-732fb9e0b37b.png)

![image](https://user-images.githubusercontent.com/16201681/79274688-f204e500-7e72-11ea-8724-269777bc17a6.png)

Why is that?
Could you pr

[2020-04-14 21:18] sobotka commented on #570
Greetings Hoang. Welcome.

I believe what you are likely spotting is the discrepancy between the Display P3 specification's definitions of the primaries and the ICC protocol driven values. If you adapt the values you are seeing in your ColorSync utility from ICC D50 to the standardized white point for Display P3 being D65 xy coordinates of `0.3127, 0.3290` you will likely discover that the values

[2020-04-14 21:27] KelSolaar commented on #570
Hi,

I haven't  looked at how they get the normalised XYZ values but indeed as @sobotka says, you need to chromatically adapt the primaries from D65 to D50:

[code]

Green matches quite well here now!

[2020-04-14 21:35] sobotka commented on #570
In many ICC's you'll also find a `chad` tag, which is the chromatic adaptation matrix used to derive the ICC D50 aligned values. Using that matrix, you can typically figure out what the native values were by routing the primaries through the matrix.

Here's a proof of principle using my unfinished [`iccinspector`](https://github.com/sobotka/iccinspector) Python tool:
[code]
And the output:

[code]

[2020-04-14 23:32] hminle commented on #570
Thank guys, I got it now.

[2020-04-14 23:32] #570 closed

[2020-04-15 00:39] KelSolaar commented on #565
@hminle : Did u get this one working?

[2020-04-15 02:04] hminle commented on #565
Hi @KelSolaar, I think the difference lies behind third-party Library, in colour case, it should be ImageIO. Then we cannot tell exactly.

Btw, how could I know "the corresponding decoding function" for each color profile?

[2020-04-15 02:04] #565 closed

[2020-04-15 02:07] KelSolaar commented on #565
It is really hard, depends actually on the writing library, if you know it is using ICC, then via the profile you should get all the needed info, if not, well it is Dark Magic!

[2020-04-15 02:51] sobotka commented on #565
If by “decoding” function, you are referring to the nonlinear transfer function, in most (?) instances that is via the `rtrc gtrc btrc` tags, or the `para` tag, all of which should be dumpable via `iccinspector`. The various rendering intents are via the A to B and B to A tags, and would require a bit more work. For more information on those, [the V4 specification is mandatory, albeit painfully du

[2020-04-15 02:53] hminle commented on #565
Hi, so for example, if I load sRGB images using colour, then I manage to convert them to ProPhoto RGB, then I want to save the results. What should I do?

[2020-04-15 02:54] KelSolaar commented on #565
Should be examples to do that in the Colab Notebook above.

[2020-04-15 03:26] hminle commented on #565
You mean switch between float 32 and uint16?

[2020-04-15 03:32] KelSolaar commented on #565
They also show how to do  the conversion to ProPhoto RGB.

[2020-04-15 03:44] hminle commented on #565
Thank you a lot, I see it

[2020-04-15 19:15] hminle commented on #570
Hi, to conclude, if I use Photoshop convert profile my image to Display P3 in my macbook, then I use colour to visualize its CIE diagram, what exactly should I do in my code?

[2020-04-15 19:18] sobotka commented on #570
@hminle sadly, the answer is "It depends".

The problem is that on ICC V4 enabled software, there is no longer a means to reliably get an absolute colourimetric output. So if the goal is to get to known values, you are out of luck with the ICC chain now thanks to V4's exceptionally poor design choice here.

Better would be to use the Colour science library to load the image from a known state and

[2020-04-15 20:45] hminle commented on #570
Hi @sobotka , my goal is I want to develop some algorithm that can convert images from a small gamut to a bigger one like Display P3 and compare it with Photoshop. Then I need to calculate deltaE between my output and Photoshop output. That's my context. But I am not sure, if I use colour library to compare their delta E, is it good or not?

[2020-04-15 20:59] sobotka commented on #570
Colour is excellent. ICC V4 sadly is missing that crucial ability to get a sense of the values mapped under an ICC absolute colorimetric approach.

That means specifically that the white point in the output can’t be firmly known. As such, evaluations will be off. If you limit yourself to ICC V2, absolute colourimetric results are possible, assuming the ICC attributes are kept firmly in view.

[2020-04-15 21:47] hminle commented on #570
Hi @sobotka , so if I create a custom profile in Photoshop like this:
![image](https://user-images.githubusercontent.com/16201681/79391720-1084e200-7f40-11ea-9b74-d8549d2b7a93.png)

and I convert my sRGB image to this profile using Photoshop.
Then I use colour to compare it with my output:
[code]
Am I right?

[2020-04-15 22:54] sobotka commented on #570
You are ignoring the most important aspect which is what version of ICC is being harnessed. Without that, the values are going to be inconsistent and meaningless.

[2020-04-15 23:31] hminle commented on #570
But as what you said earlier, it's just the difference between D50 and D65, right? What am I missing here?
So what should I do? Do you have any suggestion?

Thanks

[2020-04-15 23:47] sobotka commented on #570
I don’t have an answer as the problem is subtly complex when trying to deal with absolute values in an ICC system of unknowns.

For more information, this post from Graeme Gill of ArgyllCMS is extremely informative for folks unfamiliar with the subject.

In terms of your goal of gamut mapping, not to discourage you, but the halls of colour are littered with the corpses of Good Ideas that attempted

[2020-04-16 00:12] hminle commented on #570
Hi @sobotka , so you mean that even I use ICC v4 color profile (http://www.color.org/chardata/rgb/DCIP3.xalter) in Photoshop, I still cannot draw its CIE diagram in Colour library, right?

[2020-04-16 00:16] sobotka commented on #570
You can of course. The problem is that it is very tricky to impossible to get the native colourimetry of something out of an ICC profile with V4, as there is no way to get absolute colourimetric output. It’s all relative now to ICC D50, essentially obfuscating the true colourimetry.

Read that link on the `arts` tag for more clarity here.

[2020-04-16 00:19] hminle commented on #570
Hi @sobotka , yes I've read the article.
So if I do know I am using ICC V4, then my code above is valid, right?

[2020-04-16 00:20] sobotka commented on #570
ICC V4 is the problem.

[2020-04-16 00:54] hminle commented on #570
even if I use perceptual rendering intent in Photoshop?

[2020-04-16 01:54] sobotka commented on #570
Perceptual would be even worse. There are four rendering intents, two of which are potentially science based:
1. Absolute colourimetric
2. Relative colourimetric
3. Perceptual
4. Saturation

1. and 2. are the only potential colour science approaches, where two is adapted to some unique white.

3. and 4. are no rules, vendor secret sauce.

[2020-04-16 02:30] hminle commented on #570
Thank @sobotka a lot, I learned a lot from you.
Wow, this field is the whole new universe for me.

[2020-04-16 08:10] jchwei opened #571 "PR: Fix incorrect spelling of "HLG" inverse OETF."
HLD => HLG
https://github.com/colour-science/colour/blob/50a40abfdde50b9a583d82de3ea3143fb17a0c35/colour/models/rgb/transfer_functions/__init__.py#L487

[2020-04-16 08:18] KelSolaar commented on #571
Thanks and good catch @jchwei!

Would you mind fixing the other instances please?

[code]

[2020-04-16 14:22] jchwei commented on #571
You are so careful, I just found one place, haha. The PR #572  is committed.

[2020-04-16 14:22] #571 closed

[2020-04-17 17:52] lavrovd opened #573 "Reading 65^3 Iridas 3D LUT is incredibly slow."
First time using Colour. Trying to read loads of  65^3 .cube files in Jupyter notebook. It takes over 3 mins on the first one.

[code]
Changing
https://github.com/colour-science/colour/blob/2b2ad0a0f2052a1a0b4b076b489687235e804fdf/colour/io/luts/iridas_cube.py#L135

to
[code]

gives no difference to the result and computes faster
[code]

[code]

[2020-04-17 21:23] KelSolaar commented on #573
Hi @lavrovd,

Thanks this is really good finding!

I think your change piggy-back on some internal Numpy magic that casts the strings to float:

[code]

I did not even know this was a thing! We should look at where `colour.io.luts.common.parse_array` is involved and maybe let Numpy do its thing. @nick-shaw what do you think?

[2020-04-17 22:59] KelSolaar commented on #573
BTW @lavrovd : For the time being, you could probably monkey patch `colour.io.luts.common.parse_array` so that it passes the value through straight instead of attempting to parse.

[2020-04-18 09:05] lavrovd commented on #573
Yes. Thanks. Doing exactly that.

[2020-04-20 01:10] KelSolaar commented on #550
I did the derivation here: https://colab.research.google.com/drive/1ZGTij7jT8eZRMPUkyWlv_x5ix5Q5twMB

I will double-check it but that should be it.

[code]

[2020-04-20 19:53] hminle opened #576 "Cannot plot "Adobe RGB (1998)" color gamut?"
Hi,

I cannot draw Adobe RGB 1998 gamut using this command:

[code]
![image](https://user-images.githubusercontent.com/16201681/79793840-3e42a000-831f-11ea-9f48-dcbcc5c1da82.png)

For other colour spaces, it's normal, but not this one.
Why is that?

Thanks

[2020-04-20 20:08] sobotka commented on #576
Definitely seems like a bug on the string, as the following works:

`colour.plotting.plot_RGB_colourspaces_in_chromaticity_diagram_CIE1931(colourspaces=colour.models.ADOBE_RGB_1998_COLOURSPACE)`

[2020-04-20 20:08] KelSolaar commented on #576
Hi @hminle,

It is because the mapping is filtered with a Regex pattern: https://github.com/colour-science/colour/blob/b9ebce4be127aea9a282696dc5ac7e162c68c5c4/colour/plotting/common.py#L687

So you would need to escape the parenthesis.

[2020-04-20 20:09] KelSolaar commented on #576
That being said we could improve the docs a bit here!

[2020-04-20 20:12] hminle commented on #576
Thanks, this way works for me
It's quite weird though

[code]

[2020-04-20 20:12] #576 closed

[2020-04-20 20:15] KelSolaar commented on #576
Yeah this is supported so that you can both filter existing RGB Colourspaces while passing a custom one you have just built!

I do it here for example with the Venice colourspaces: https://colab.research.google.com/drive/1ZGTij7jT8eZRMPUkyWlv_x5ix5Q5twMB

[2020-04-20 20:37] hminle commented on #576
Thanks,
Just curious. In your Venice experiment, I see its colour gamut goes outside visible range a lot.
So what's the point to make such a colour space like that?

[2020-04-20 20:42] KelSolaar commented on #576
It not that the colourspace is designed to have such primaries in the first place, it is more a direct consequence of fitting the camera data to the *CIE 1931 2 Degree Standard Observer*: if you compute the by-product primaries from the 3x3 matrix mapping the former to the latter, you might get some that goes way beyond the spectral locus. This is actually quite typical from cameras because they a

[2020-04-21 08:22] sianyi opened #577 ""UnicodeDecodeError" exception raised while installing development version."
Not sure if it is a general issue or just happen at my Windows PC.

I used "pip install -e ." to install developement version in my Windows laptop and it shows
UnicodeDecodeError: 'cp950' codec can't decode byte 0xf0 in position 2241: illegal multibyte sequence

After made the below change then I can install it properly.
https://github.com/sianyi/colour/commit/12bc73a78a67f31e84b26d38aecae4bf922f0

[2020-04-21 08:28] KelSolaar commented on #577
Hi @sianyi,

Which Python version are you using?

Cheers,

Thomas

[2020-04-21 08:29] sianyi commented on #577
Python 3.7.3

[2020-04-21 08:31] KelSolaar commented on #577
It looks like your locale or something is changing the default Python encoding. Would you mind trying that in the same shell you tried to install Colour:

[code]

[2020-04-21 08:34] sianyi commented on #577
Here is my result..

Python 3.7.3 | packaged by conda-forge | (default, Jul  1 2019, 22:01:29) [MSC v.1900 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

'utf-8'

[2020-04-21 08:36] KelSolaar commented on #577
Ok this is good, can you try that then please:

[code]

[2020-04-21 08:38] sianyi commented on #577
You catch it!, so it is my enviroement problem ?

[code]

[2020-04-21 08:47] KelSolaar commented on #577
So it is indeed related to your locale!

I think it is reasonable to change the `open` call and force `utf-8` however, I think it would be safer to use an `utf-8` locale generally as this is the default Python encoding and you might run into other issues.

As for the actual change, we should use `codecs.open` because `open` does not support the `encoding` parameter in 2.7 (and we still release for

[2020-04-21 09:11] sianyi commented on #577
Got it and thanks for the explanation

[2020-04-21 09:30] KelSolaar commented on #577
Here is some info on how to change it if you need/want: https://www.tecmint.com/set-system-locales-in-linux/

I will make a note about updating the `open` thing, although because the `setup.py` file is partially generated by Poetry, it is not entirely trivial.

[2020-04-25 14:41] hminle opened #580 "How to remove the wavelength markers around the edge of the border?"
Hi Colour Team,

How can we remove the wavelength markers around the edge of the border of CIE diagram?
Those 540, 520, ....
![image](https://user-images.githubusercontent.com/16201681/80282773-53357f80-86e1-11ea-8f72-f0e694ce081c.png)

Thanks,

[2020-04-25 14:46] hminle commented on #580
oh I found it,
Just add this parameter
```show_spectral_locus=False```

[2020-04-25 14:46] #580 closed

[2020-04-25 21:02] KelSolaar commented on #580
@hminle : Alternatively you can pass `spectral_locus_labels=[]`, it will still draw the spectral locus but without any markers: https://github.com/colour-science/colour/blob/817b1aa9a7456cf4c37e93adbf374b950d4cb0cf/colour/plotting/diagrams.py#L71

[2020-04-26 02:57] hminle opened #581 "How to make black scatter points in CIE Diagram?"
Hi Colour Team,

In the CIE Diagram of one image, the scatter points colors are based on its distance to the white point, right?
![image](https://user-images.githubusercontent.com/16201681/80296334-105ac280-8748-11ea-85f7-5b5a31e7f9d8.png)

But now I want to make all of them just pure BLACK points.
Is there any option to do that?

Thanks

[2020-04-26 03:01] KelSolaar commented on #581
Hi @hminle,

The points are actually using the colours of the array you pass in, you can, however, change them entirely using the `scatter_kwargs` arguments: https://github.com/colour-science/colour/blob/817b1aa9a7456cf4c37e93adbf374b950d4cb0cf/colour/plotting/models.py#L663

It passes the `dict` directly to the [matplotlib.pyplot.scatter](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot

[2020-04-26 03:02] KelSolaar commented on #581
By the way, if you use `colour.plotting.colour_style()` you will get default plotting settings that are maybe better for you!

[2020-04-26 03:24] hminle commented on #581
Thank @KelSolaar ,
But none of that is what I want.
I want to make all scatter points have the black color.
Now each point has different gradient colors.

Thanks

[2020-04-26 03:29] KelSolaar commented on #581
Did you try something like that: https://colab.research.google.com/drive/1NRcdXSCshivkwoU2nieCvC3y14fx1X4X#scrollTo=pPmX3lofHFxF&line=9&uniqifier=1

![image](https://user-images.githubusercontent.com/99779/80296895-b2bf8800-87d2-11ea-9753-8b11690bd90b.png)

[2020-04-26 03:39] hminle commented on #581
Hi @KelSolaar Ke
Yes, I did try
It's still the same
![image](https://user-images.githubusercontent.com/16201681/80297073-089e1c80-874e-11ea-807a-515784a1fef5.png)

The scatter points still do not have consistent black color

[2020-04-26 03:46] KelSolaar commented on #581
Mmmh, this is odd! Can you please let me know the output of that call: `colour.utilities.describe_environment();` and also paste the whole invocation for the plotting call.

[2020-04-26 03:49] hminle commented on #581
Hi @KelSolaar
My command:
[code]
output of environment:
![image](https://user-images.githubusercontent.com/16201681/80297230-52d3cd80-874f-11ea-8331-c6193273f9aa.png)

Thanks

[2020-04-26 04:03] KelSolaar commented on #581
Trying to look at it, could be an issue with MPL.

[2020-04-26 04:04] hminle commented on #581
You mean mismatch version?

[2020-04-26 04:07] KelSolaar commented on #581
Yup! Testing on Colab atm but having a hard time to get that particular version installed.

[2020-04-26 04:16] KelSolaar commented on #581
Oh, can you try `scatter_args` instead of `scatter_kwargs`? `scatter_kwargs` is for the latest `develop` branch! :)

[2020-04-26 04:18] hminle commented on #581
I've just tried.
It's still the same.
Don't know why, but any scatter arguments seems do not have any effect on the Diagram.

[2020-04-26 04:18] KelSolaar commented on #581
Sorry `scatter_parameters`, the deprecation code is incorrect in `develop` :(

[2020-04-26 04:21] hminle commented on #581
Great! It works now
Thank you very much.
:)

[2020-04-26 04:21] #581 closed

[2020-04-26 04:21] sobotka commented on #581
MPL does some funky things with colours. You could also pass an array of sRGB colours for each point IIRC. Sort of a PITA but may work here as a workaround.

[2020-04-26 04:22] KelSolaar commented on #581
Pfiouuu! Sweet! :) Note that `scatter_parameters` will effectively be renamed to `scatter_kwargs` in 0.3.16 but you will get a warning and `scatter_parameters` will still work.

[2020-04-26 04:23] hminle commented on #581
Yeah, so I just need to upgrade colour.
Thank guys :)

[2020-04-26 04:24] KelSolaar commented on #581
It is not yet out but slowly working on that! Don't worry about it for now ;)

[2020-04-26 18:55] sobotka opened #582 ""SonyCorporation12" bibliography link seems to be redirected."
Summary: SonyCorporation12 seems to not link to citation any longer.

[2020-04-26 20:03] KelSolaar commented on #582
@sobotka : I cannot find a `SonyCorporation12` either in the code, Mendeley or the .bib file. Which branch are looking at?

[2020-04-26 20:15] sobotka commented on #582
https://colour.readthedocs.io/en/latest/generated/colour.models.log_encoding_SLog2.html?highlight=Slog2

[2020-04-26 22:37] spicymatt opened #583 "Is the Luv to uv conversion correct ?"
Hello,
I am confused by the LUv to uv conversion formula for v that uses 9 * Y / (X + 15 * Y + 3 * Z) when the published formula uses 6*Y/.... (cf https://en.wikipedia.org/wiki/CIE_1960_color_space#Relation_to_CIE_1976_UCS)
Am I missing something ?
Matthieu

[2020-04-26 22:54] sobotka commented on #583
https://en.wikipedia.org/wiki/CIELUV

[2020-04-26 22:58] sobotka commented on #582
Is it just me or has the document disappeared online from Sony's official sources?

[2020-04-27 00:08] KelSolaar commented on #582
Looks like the link is dead AND there are also some .bib file related issues, some links are looking weird and the key, in this case, should be `SonyCorporation2012a`

[2020-04-27 00:19] sobotka commented on #582
Well there I go again finding broken bits. Sorry.

[2020-04-27 00:27] KelSolaar commented on #582
All good the .bib file is fixed, as for the link, will check later.

[2020-04-29 12:13] spicymatt commented on #583
Thanks...and sorry for the confusion. The 1976 definition supercedes the 1960 definition for 'v'.
I missed that.

[2020-04-29 12:13] #583 closed

[2020-05-01 23:36] KelSolaar commented on #582
I migrated our reference database from **Mendeley** to **Zotero**, regenerated all the citations across all our repositories and fixed that particular one.

[2020-05-01 23:36] #582 closed

[2020-05-02 00:02] KelSolaar opened #584 "Conversion from RGB to Hexadecimal might generate misleading values."
So this is not really a defect per-see but more a consequence of working with unbounded values while still being able to produce colours for the web. I noticed it in the past and it has bitten me recently while answering that SO question: https://stackoverflow.com/questions/61455618/how-to-convert-cie-color-in-the-following-format-x-0-615-y-0-346-5-6-cd-m2/

I think there is a virtue with being ab

[2020-05-02 04:01] #550 closed

[2020-05-02 05:26] KelSolaar opened #586 "Implement support for various photoreceptor models."
I would be useful to implement support for various photoreceptor models so that it is possible to generate custom cone fundamentals down the road. I have started with Caroll et al. (2000), Stockman and Sharpe (2000), Lamb (1995) photoreceptor models in that notebook: https://colab.research.google.com/drive/1snhtUdUxUrTnw_B0kagvfz015Co9p-xv

We will obviously need support for various pre-receptoral

[2020-05-02 22:25] KelSolaar commented on #584
I actually went for simpler:

[code]

[2020-05-03 00:49] #584 closed

[2020-05-03 00:57] sobotka commented on #584
Is this seemingly inconsistent behaviour?

Gamut clipping on low and not on high would result in inconsistent differences between input chromaticity and output for either case?

[2020-05-03 01:02] KelSolaar commented on #584
The negative clipping handles (naively) gamut mapping and the positive normalisation handles potential HDR values, they are separate problems. There is no expectation to be able to roundtrip values and HEX input can only be in the range [0-1].

[2020-05-03 01:44] sobotka commented on #584
I believe the “correct” output should be against the source gamut; that is, where values are negative *or* greater than source RGB, the destination values are out of gamut. Both are out of gamut results, and I believe the proper approach would be to clip according to the resultant value exceeding the initial values?

[2020-05-03 02:07] KelSolaar commented on #584
The correct output is the one that will produce colours close to what they should be with all the caveats and warnings issued.

Keeping in mind that we don't have gamut mapping, this would mean that whenever a user uses those xy chromaticity coordinates/ CIE xyY values: `[0.615, 0.346, 5.6]`

![image](https://user-images.githubusercontent.com/99779/80896824-9d081080-8d46-11ea-932d-8b6bc478fded.png

[2020-05-03 02:21] sobotka commented on #584
Agree on the absolute. Agree on the “better” gamut clip results here.

I am curious if there is a difference between the gamut clip on zero *before* versus *after* normalization?

[2020-05-03 02:40] KelSolaar commented on #584
I haven't tried! To be fair, I'm expecting the users to have ensured that their values are representable properly, the new behaviour is mostly a cheap remedy that comes with some benefits:

- It warns users that they might get unexpected results which they did not get at all, got caught pants down myself on SO :)
- It allows the generation of values that, if not correct, are at least in the ballpa

[2020-05-03 02:43] sobotka commented on #584
Yep. I think it’s more of a thought process at this point. As in “if normalizing, should we normalize against peak Y = 1.0?” Which in turn implies normalizing against R=G=B == Y = 1.0.

[2020-05-04 09:57] #577 closed

[2020-05-04 09:58] KelSolaar commented on #577
@sianyi : This should hopefully be fixed in the latest develop, can you give it a stab please?

[2020-05-05 06:58] beckstev opened #588 "Is there a BibTeX template for citation?"
May you consider to provide a bibtex citation, so that we can cite this greate package.

[2020-05-05 07:01] beckstev commented on #588
I have found the following link, I assume this is your preferred way.
https://zenodo.org/record/3627408#.XrEOnJlCSM8

You could add this to the repo as well, so that user can find it more easily.

[2020-05-05 07:04] KelSolaar commented on #588
Hi @beckstev,

If you follow the [DOI badge link](https://zenodo.org/record/3627408) in the [README.rst](https://github.com/colour-science/colour/blob/develop/README.rst) file:

![image](https://user-images.githubusercontent.com/99779/81041927-206e6100-8f03-11ea-9bb9-55f021e20710.png)

You will land on the Zenodo record, from which it is possible to get the BibTex citation:

![image](https://user-

[2020-05-05 07:06] beckstev commented on #588
Thanks, havent seen the badge.

[2020-05-05 07:06] #588 closed

[2020-05-05 07:08] KelSolaar commented on #588
No worries it is not necessarily obvious! There is also a link on the website which is not obvious either:
![image](https://user-images.githubusercontent.com/99779/81042197-b3a79680-8f03-11ea-8e04-3b17351a09c1.png)

We might add something directly on the landing page actually!

Thanks for the feedback.

Thomas

[2020-05-05 14:59] sianyi commented on #577
It works well on my windows PC, thanks for have the change.

[2020-05-08 23:59] KelSolaar opened #589 "Implement support for "oRGB: A Practical Opponent Color Space for Computer Graphics"."
References
---
- https://graphics.stanford.edu/~boulos/papers/orgb_sig.pdf

[2020-05-12 22:30] KelSolaar opened #590 "Implement support for "IHLS" colourspace."
References
---
- https://www.researchgate.net/publication/243602454_A_3D-Polar_Coordinate_Colour_Representation_Suitable_for_Image_Analysis

[2020-05-13 10:30] nick-shaw opened #591 "Implement support for Blackmagic Design colour spaces"
While the colour encodings of Blackmagic cameras are not published, the primaries of the various colour spaces can be displayed on the CIE plot 'scope in DaVinci Resolve.

The transfer functions are available only as 1D LUTs or hard coded internal transforms in Resolve. Can we create colourspaces which use LUTs, rather than functions? Would the LUT table need to be included in the colourspace file

[2020-05-13 10:36] nick-shaw commented on #591
Would the correct approach be to add a `datasets` folder under `transfer_functions` and declare all the BMD transfer functions as arrays there?

[2020-05-13 14:21] sobotka commented on #591
I wonder if the generic log-like approach with breakpoint can be solved for?

[2020-05-15 05:34] KelSolaar opened #592 "Implement support for "Contrast Sensitivity Functions for HDR Displays"."
References
---
- https://www.cl.cam.ac.uk/research/rainbow/projects/hdr-csf/pub/lim2020.pdf
- https://www.cl.cam.ac.uk/research/rainbow/projects/hdr-csf/

[2020-05-15 05:37] KelSolaar commented on #591
Sounds good yeah!

Sure, the transfer functions are just callables, so any callable will work here!

If shown it matches really nicely why not!

[2020-05-22 11:18] KelSolaar commented on #526
So... annoyingly, I cannot find out nor remember where this is coming from. I will close it for now.

[2020-05-27 16:45] nick-shaw commented on #591
Work in progress version of Blackmagic colour spaces at https://github.com/nick-shaw/colour/tree/feature/blackmagic

[2020-06-03 06:35] njwardhan commented on #573
Hello @lavrovd!

I am Nishant Joywardhan, and I am working with Colour under the GSoC-2020 program for improvement of its LUT IO support. I took up this issue, but haven't been able to replicate it. If you could provide me with your test case LUT file(s) which you have tried to load, it would be really helpful for me to go about understanding the issue properly and then fixing it. Thanks! :)

[2020-06-03 06:56] KelSolaar commented on #591
So here is something we could roll to lazily load the data: https://colab.research.google.com/drive/1RbAhKB8JM_X-LMkSSHY3OukcW1g0O_ni?usp=sharing

The first time you get the value for `Luke`, the function is evaluated and its output is stored in-place of the original callable. We could use that approach to have the CSV files loaded lazily that way.

[2020-06-03 20:05] lavrovd commented on #573
Sure thing. [There]( https://af0a41c0-358f-496c-b559-adf398d49857.s3.eu-west-2.amazonaws.com/large.cube.zip)

Just tried again for sanity. Still there.

[code]

[2020-06-04 05:50] njwardhan commented on #573
Thanks for the follow up @lavrovd.

I tried to read the file which you have attached in the previous comment with the as it is `read_LUT_IridasCube()` function of colour, and it got finished in just 2 seconds, (without any patch):

![LargeCubeReading](https://user-images.githubusercontent.com/59248171/83719368-9249df80-a654-11ea-8ffe-419fe7562203.png)

Am I committing any error in understanding yo

[2020-06-04 06:28] KelSolaar commented on #573
Hi,

This is really puzzling me too, because:

![image](https://user-images.githubusercontent.com/99779/83722372-f5f1fe00-a690-11ea-83ee-f834cecffd5e.png)

@lavrovd: When you have a chance, is it possible to get an output from `colour.utilities.describe_environment()` please?

[2020-06-04 06:49] lavrovd commented on #573
[code]

[2020-06-04 08:29] KelSolaar commented on #573
Thanks @lavrovd, still cannot reproduce with my slightly different setup, maybe something with your Numpy version:

[code]

@njwardhan is implementing the changes anyway, thanks for your time and patience!

[2020-06-04 09:11] KevinJW commented on #573
Randome thoughts to check:

- What OS platform
- What locale is in place

there can sometimes be odd behaviours due to these kinds of things

[2020-06-04 09:28] MichaelMauderer commented on #573
Another random thought: what type of hard drive?

[2020-06-04 09:30] KelSolaar commented on #573
@KevinJW and @MichaelMauderer: Excellent points!

en_US / UTF8 all the way here:

[code]

And SSD drive.

[2020-06-04 10:05] lavrovd commented on #573
[code]

[2020-06-04 10:57] LeCyberDucky opened #595 "Why does "colour.wavelength_to_XYZ" definition returns values outside expected range?"
Hi,

I'm trying to obtain RGB values of the visible spectrum. Therefore, I do this:

[code]

Based on this:
https://colour.readthedocs.io/en/develop/generated/colour.wavelength_to_XYZ.html
https://colour.readthedocs.io/en/develop/generated/colour.XYZ_to_sRGB.html

I would expect the output to be in the range [0; 1]. From the above code, however, I get a maximum entry of 1.783001. Is there somethin

[2020-06-04 13:43] Ron024 commented on #595
It looks like you are trying to map the locus values (outer edge of the diagram) of the [CIE1931 space onto sRGB space](https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/CIE1931xy_CIERGB.svg/325px-CIE1931xy_CIERGB.svg.png).  Most of these fall out side the sRGB space.  To interpolate to a value I believe they should be clipped to 0 or 1.

[2020-06-04 14:05] LeCyberDucky commented on #595
Hmm, yes, that makes sense, thanks!
I still have to wonder, though. The accepted range of values for `wavelength_to_XYZ` appears to be [360; 830] (based on the error message I get when trying values outside this range). And the documentation for the function indicates an output range of [0; 1] (if I'm reading it correctly). So, if my input values are in the correct range, it seems odd that the out

[2020-06-04 15:29] KevinJW commented on #595
if all you want is the 'approximate colours' that are used in that function you could extract just the beginning of that function up to the point it generates the colours object (about half way through the function https://github.com/colour-science/colour/blob/3bebd7e903cbcbee959f56786c020335a1b06cf7/colour/plotting/colorimetry.py#L152)

As was mentioned above there is an adjustment being made to

[2020-06-05 04:28] KelSolaar commented on #573
Thanks @lavrovd, does not seem to shed more light on what could be the underlying problem unfortunately.

[2020-06-05 04:39] KelSolaar commented on #595
Hi @LeCyberDucky,

To expand on @KevinJW and @Ron024, the reported domains and ranges in the documentation can be somehow misleading if you haven't read this portion of the documentation: https://colour.readthedocs.io/en/develop/basics.html#domain-range-scales.

You can think about them as indicative _soft_ limits. Colour is built to work on double-precision floating-point numbers, we promote ever

[2020-06-05 08:30] LeCyberDucky commented on #595
Yes, that makes sense. I hadn't seen that documentation page. Thank you very much.

[2020-06-05 08:49] KelSolaar commented on #595
You are welcome! :)

[2020-06-05 08:49] #595 closed

[2020-06-05 17:58] lavrovd commented on #573
Tried on my Linux box (Ubuntu 18.04) and read time is about 2 secs for that file. It is definitely Mac specific. Could be my setup.

[2020-06-05 23:31] KelSolaar commented on #573
Could it be related to any antivirus checking all the IO of the Python process?

[2020-06-06 05:41] KelSolaar commented on #591
@nick-shaw : I pushed the new `colour.utilities.LazyCaseInsensitiveMapping` class, so if you rebase, you should get access to it!

Usage should be simple, let me know if you have any issue!

[2020-06-07 06:17] KelSolaar commented on #573
@lavrovd : @njwardhan's PR #596 has been merge in the develop branch, so it should be up to full speed now! When you have a chance, let us know if it is fine, I'm assuming it is!

[2020-06-08 18:16] bsdis opened #598 "How to perform colour correction with a "ColorChecker" reference image?"
Hi,
I have images of a colorchecker and I would like to perform color calibration of these images.
As I understand I have to do extract the 24 colour squares of the colorchecker, Convert from sRGB to RGB by applying inverse gamma, convert RGB to XYZ using 3x3 matrix, convert XYZ to Lab using standard formula and D6500 white point - perform a regression to find conversion coefficients - and then co

[2020-06-09 05:34] KelSolaar commented on #598
Hi @bsdis,

It is absolutely possible and I do that quite regularly.

Assuming you have the data for the colour rendition chart, at the basic minimum, this is what you need to do: https://github.com/colour-science/colour/blob/c3245b1830323991823f20580f81eee856dcc04c/colour/characterisation/correction.py#L852

We have a [repository](https://github.com/colour-science/colour-checker-detection) which

[2020-06-09 08:00] bsdis commented on #598
Ahh ok. Really nice :)
I hope its ok to ask some follow up questions:
1) In the notebook you preprocess your images with `dcraw -T -g 2.4 12.92 *.CR2`. This basically encodes images as sRGB png images right?
2) I ran your example on 4 test images i had of the same scene where i have changed the lighting in each scene.
I get this result which is pretty nice actually
<img width="772" alt="Screenshot

[2020-06-09 08:25] bsdis commented on #598
Here is actually a better image. I have multiplied with and capped at 255, which also shows that some channels are saturated after the calibration.

<img width="621" alt="Screenshot 2020-06-09 at 10 23 00" src="https://user-images.githubusercontent.com/1256202/84124276-4a9fcb00-aa3b-11ea-9db7-0e7c05caab97.png">

Is this because i need to do a white balancing also?

[2020-06-09 09:44] KelSolaar commented on #598
Hi @bsdis,

This is a great example of why relying on a colour rendition chart for colour correction is not the solution to all the imaging calibration problems as `$COLOUR_RENDITION_CHART_MAKER` claims it is.

What is happening here is that your scene illumination is changing while the ColorChecker Classic values are given for a particular illuminant, i.e. CIE D50. Ideally for things to really wo

[2020-06-09 10:25] bsdis commented on #598
Hi @KelSolaar

Aha - yes that makes perfect sense. I have to keep that in mind.
If I first wanted to try the cheap method, you say "neutralise on the bottom row after the colour correction". How exactly is that done? In your code, the final image is generated by doing:
[code]
So I guess `im` is in sRGB colorspace? Would i do the neutralise directly on this image, or would I convert it to another c

[2020-06-09 11:07] KelSolaar commented on #598
Yeah, so you would need to neutralise before that conversion, colour correction, white-balancing  and, most of the operations must ideally be done on floating-point linear data. The idea is to compute the average RGB colour of one of the swatches of the bottom row, we commonly take the third from the bottom right in the VFX industry, divide your image by it so that this swatch is white (or close t

[2020-06-09 13:07] bsdis commented on #598
Hi @KelSolaar

Hmm I think I might have misunderstood you.
I understood it like adding these 2 lines:
[code]
So code becomes like this
[code]

But this gives me quite strange results.
What did i misunderstand here?

[2020-06-09 20:08] KelSolaar commented on #598
You would need to divide by the average value of the colour checker in the image, i.e. `COLOUR_CHECKER_IMAGES[I]` and multiply by that of the reference one colour_checker.data['neutral 5 (.70 D)']

[2020-06-09 21:18] bsdis commented on #598
As I understand the code, the following variables are:

```COLOUR_CHECKER_IMAGES[i] <--- Sample image```

```colour_checker.data['neutral 5 (.70 D)']) <--- average value of neutral 5 swatch of sample image```

```REFERENCE_COLOUR_CHECKER.data['neutral 5 (.70 D)'] <--- reference value of colorchecker for neutral 5```

So: divide by the average value of the colour checker in the image, i.e. COLOUR_C

[2020-06-10 10:41] KelSolaar commented on #598
Not really, you would need to divide each given image by its own colour checker Neutral 5 swatch average, because each image has its own illuminant, you need to neutralise for each one of them accordingly and individually.

Assuming you have neutralised each one of them, you will see that not only their whites are closer, but also that their exposure is roughly the same! You will still have discre

[2020-06-21 18:26] bsdis commented on #598
Hi @KelSolaar
Hope its okay i keep this thread running.
In your notebook (https://github.com/colour-science/colour-checker-detection/blob/develop/colour_checker_detection/examples/examples_detection.ipynb)
you do:
[code]

the output of colour.cctf_encoding seem to be in the range -0.52 1.47. Should that not be in the range 0 and 1?

[2020-06-21 21:01] KelSolaar commented on #598
Hi,

Absolutely and good question! We never (pretty much never) clip data in Colour because this is what allows inversion of the transforms. Yes, you will often get negative values and values over one, this is by design. Whether it makes sense is something we are expecting the user to assess and is dependent on the usage. For your current case, because you are plotting an image, it would make sens

[2020-06-21 21:15] bsdis commented on #598
I see. Instead of clipping, wouldn't it make more sense to keep the information as much as possible by shifting to min=0 and divide with max value to get 0<=x<=1 ?

[2020-06-21 21:22] KelSolaar commented on #598
Good question again!

We cannot really decide for the user here, given we are often working with negative out-of-gamut colours or very large HDR values, e.g. [1.e7, 1e9], the image would be entirely black except for a small speckle, i.e. the Sun, in a lot of cases.

A single large value is needed to throw you off trajectory here and it happens all the time in the type of applications we use Colour

[2020-06-21 21:37] bsdis commented on #598
haha yes ok. thats a really good point :D

[2020-06-21 21:51] KelSolaar commented on #598
depending on the number of terms/degree you use, you will get the same results, basically, all the methods are equivalent for degree 1 (linear).

[2020-06-21 22:19] bsdis commented on #598
@KelSolaar I was hoping I could maybe get your opinion on the path I have chosen so far.

My usecase is that I need to compare colors in different images across many images.

The challenge here is that I have no idea about the lighting used on each image and I have no idea about the camera used for each image (could be some phone cam or some DSLR cam or whatever). The only thing I know is that an

[2020-06-21 22:53] KelSolaar commented on #598
I would maybe try to see if you can infer the illuminant from the scene, there is a great deal of literature on the topic, e.g. https://www.groundai.com/project/rehabilitating-the-color-checker-dataset-for-illuminant-estimation/. I never tried any of that unfortunately but it is certainly on my radar when time permits!

Otherwise, your approach is certainly correct!

[2020-06-21 22:55] KelSolaar commented on #598
This publication is of particular interest: https://arxiv.org/abs/1504.04548

[2020-06-22 10:19] bsdis commented on #598
AHa...that sounds really interesting... I will look into that. Thanks a lot for the pointers! Will be sure to feed back what I find out :)

[2020-07-02 09:17] ChunHsinWang opened #604 "Issue in implementation of "Finlayson et al. (2015)" method."
The function def polynomial_expansion_Finlayson2015() for polynomial expansion for Finlayson et al. (2015) method seems to be implemented incorrectly when root_polynomial_expansion is set to True.
https://github.com/colour-science/colour/blob/c3245b1830323991823f20580f81eee856dcc04c/colour/characterisation/correction.py#L258
For instance, the term (R * G) ** 1 / 2 where (R*G) is supposedly taking

[2020-07-02 11:02] KelSolaar commented on #604
Hi @ChunHsinWang,

Thanks! Great catch, embarrassing but should be fixed soon!

[2020-07-02 11:29] #604 closed

[2020-07-02 11:30] KelSolaar commented on #604
It should be fixed @ChunHsinWang! :)

[2020-07-15 16:19] priikone opened #608 "How to plot log curves?"
I was admiring the plots in @nick-shaw cinematiccolor repo, such as [https://nick-shaw.github.io/cinematiccolor/assets/figures/log-encoding-curves.svg](https://nick-shaw.github.io/cinematiccolor/assets/figures/log-encoding-curves.svg) and was wondering how they were plotted?  I believe I can get it done by doing something like:

`math.log2(colour.log_decoding(1, function='Log3G10')/.18)`

And go t

[2020-07-16 04:30] KelSolaar commented on #608
Glad that you are sorted @priikone! :)

[2020-07-16 04:30] #608 closed

[2020-07-18 11:58] rsnitsch opened #609 ""colour.convert" definition: sRGB should be the default RGB colorspace, but actually is not?"
The documentation for colour.convert states that:

This is my code:

[code]

I assume that this should produce the same output as when changing the last line to

`converted = colour.convert(input_rgb, 'sRGB', 'Cie Lab', verbose={'mode': 'Long', 'width': 120})`

However, there is a dramatic difference.

This is the output for 'RGB':

[code]

This is the output for 'sRGB':

[code]

EDIT: This is my

[2020-07-18 15:58] sobotka commented on #609
In this instance, the `RGB_to_XYZ` assumes a `cctf_encoding` of `None` in the first.

In the second, the `sRGB_to_XYZ` assumes inversely encoded sRGB EOTF values by default.

I don’t believe it makes much sense to assume that the RGB triplet in the first case has a CCTF encoding applied.

[2020-07-18 16:41] rsnitsch commented on #609
Thank you! You're correct. Indeed, these produce the same output:

[code]

[code]

The core issue is: I understand the docs as saying that RGB is assumed to mean sRGB by default. Thus, they should produce the same results with the same inputs IMHO.

[2020-07-18 16:45] sobotka commented on #609
It gets a little ugly at the function level, however.

Assuming a particular transfer function on a particular RGB encoding is problematic, and given the RGB case is an encoding model as opposed to colourspace such as sRGB, it probably would cause more grief?

[2020-07-18 16:54] rsnitsch commented on #609
I'm new to the colour Python package, so I can't say much with regards to the implementation/uglyness at the function level. I can only tell you what my interpretation of the docs is. The docs say that:

My understanding of that phrase is: For colour.convert, RGB and sRGB are identical. If you want an RGB colourspace other than sRGB, you have to make that explicit. In all other cases, it will impl

[2020-07-18 16:56] sobotka commented on #609
Yeah. I’d disagree. RGB is a colour encoding model, so the understanding as to what state the values are encoded can be quite different.

[2020-07-18 22:40] KelSolaar opened #610 "Implement support for "HyAB" large colour difference metric."
References
---
- https://onlinelibrary.wiley.com/doi/abs/10.1002/col.22451

[2020-07-18 22:49] KelSolaar commented on #609
Hi @rsnitsch,

Thanks! As you saw the main difference pertains to encoding/decoding in that case, we should make the documentation clearer but besides that, the default IS sRGB, whether it is encoded or not is critical obviously but it does change the fact that the illuminant is D65 and the primaries are that of BT.709/sRGB. We will amend the documentation accordingly, that being said there are hi

[2020-07-19 05:34] KelSolaar commented on #609
The documentation has been updated: https://colour.readthedocs.io/en/develop/generated/colour.convert.html#colour.convert

[2020-07-19 05:34] #609 closed

[2020-07-19 05:48] KelSolaar opened #611 "Implement support for "ꟻLIP: A Difference Evaluator for Alternating Images"."
References
---
- https://research.nvidia.com/publication/2020-07_FLIP

[2020-07-19 06:08] KelSolaar opened #612 "Implement support for "YCxCz" colourspace."
References
---
- https://engineering.purdue.edu/~bouman/software/YCxCz/pdf/ColorFidelityMetrics.pdf
- #611

[2020-07-26 05:13] KelSolaar commented on #458
And this one is wrapped! Thanks for the great work @enneract!

[2020-07-26 05:13] #458 closed

[2020-08-07 10:17] rsnitsch opened #616 "Cheung (2004): Transforms with 4 and 35 terms not implemented."
Cheung et al. [1] define polynomial transforms with the following numbers of terms:
- 3
- 4 (not implemented)
- 5
- 10
- 20
- 35 (not implemented)

I just noticed that 4 and 35 terms are not supported by ``augmented_matrix_Cheung2004``. Is this intentional, and if yes, why? If not, I can implement the missing options (i.e. create a pull request).

[1] A comparative study of the characterisation of

[2020-08-07 10:30] KelSolaar commented on #616
Hi @rsnitsch,

I don't remember but I suspect it is because I probably used Westland (2004) reference, and not the original Cheung (2004) paper one! The book is at work so I can only confirm Monday.

A PR would be very much welcome! 👍

Cheers,

Thomas

[2020-08-12 09:23] rsnitsch commented on #616
Have you been able to check on this?

[2020-08-12 09:24] rsnitsch commented on #604
I would like to use the Finlayson method in production. When will 0.3.16 with the fix be released?

[2020-08-12 09:53] KelSolaar commented on #604
Hi rsnitch,

The original plan was to do it after we have integrated all the GSoC code, so sometimes September, but highly depends on my load (which has been insanely high lately).

Cheers,

Thomas

[2020-08-12 09:55] KelSolaar commented on #616
Hi @rsnitsch,

No sorry, been hell of a week at work will try to check tomorrow!

Cheers,

Thomas

[2020-08-12 13:38] rsnitsch commented on #604
Could you maybe publish a hotfix version 0.3.16 with the bugfix (possibly including some other bugfixes, too) and move the other changes to 0.3.17? That would be awesome.

Otherwise I'll probably have to try and specify the repository+commit directly in the Pipfile. Or I'll incorporate a copy of the fixed code into my own code for the time being.

[2020-08-13 06:36] KelSolaar commented on #604
No sorry, I don't have the free cycles to go through a full Colour release, with the amount of changes we have added compared to 0.3.15, the CI being broken, etc... it will take a little while, not only that but I will need to bubble up some of the dependent repositories.

I would indeed recommend that either you pull down from the repo if you can OR monkey patch directly in your code indeed.

[2020-08-13 15:17] hminle opened #619 "plot_RGB_colourspaces_gamuts expected results"
Hi Colour Team,

I use this snippet code to generate the gamuts in CIE XYZ:
![image](https://user-images.githubusercontent.com/16201681/90152794-38e9e500-dd56-11ea-8ecb-a1bac0bb2522.png)

![image](https://user-images.githubusercontent.com/16201681/90152705-1a83e980-dd56-11ea-8309-ddf89f9335e5.png)

My Colour version: ```0.3.15```

I think this result is wrong, because sRGB gamut lies outside ProPh

[2020-08-14 07:16] KelSolaar commented on #619
Hi @hminle,

This is a pure side effect of the illuminants of the two RGB colourspaces being different, i.e. D65 vs D50. What you can do is something like that:

[code]

If you have a doubt like that, try **CIE xyY** and you will see that **ProPhoto RGB** encompasses almost entirely **sRGB** but they diverge at the top of the volume because of their different whitepoint.

You can also verify that

[2020-08-15 15:03] hminle commented on #619
Hi @KelSolaar ,
Thank you
I thought D65 is the default white point for ProPhoto RGB.
So I use ProPhoto RGB colourspaces like this:
```prophotorgb_colourspace = colour.models.PROPHOTO_RGB_COLOURSPACE```

In fact, I need to specify D65 clearly, right?

[2020-08-15 15:05] hminle commented on #619
@KelSolaar
Then how about `colour.plotting.plot_RGB_scatter`, I need to create PPRGB_D65 like that too?

[2020-08-15 21:21] KelSolaar commented on #619
Yes, if you really want to compare them apple to apple, they ideally all need to be chromatically adapted to the same whitepoint. Likewise for `colour.plotting.plot_RGB_scatter`. That discussion makes me think that we should maybe add that as an option as it could be a desirable default.

[2020-08-15 22:00] #619 closed

[2020-08-15 22:01] hminle commented on #619
Yeah, I want to compare them like what you show me in the web: https://www.colour-science.org:8020/
I think many will want to do that.

[2020-08-15 22:06] hminle commented on #619
I think if the parameter `colourspaces` is a list, then the function just needs to make sure all of colourspaces have the same white point

[2020-08-15 22:19] KelSolaar commented on #619
Yes and no because often we also want to compare, the colourspaces as they are defined by their primaries:

![image](https://user-images.githubusercontent.com/99779/90322567-f6204b00-dfa9-11ea-909a-6748a6b1c3bc.png)

I will certainly add an option to chromatically adapt them though!

[2020-08-30 10:57] jackjansen opened #626 "Matplotlib dependency is missing in "setup.py" file."
Just installed colour-science with pip (Python 3.8.5, venv, MacOS 10.13), and my first attempt to `import colour.plotting` resulted in

[code]

A quick `pip install matplotlib` fixed it, but apparently that dependency is missing in your setup.py.

[2020-08-30 21:47] jackjansen opened #627 "How to add data to the various plotting figures?"
The documentation is extensive on all the various plot types, but I cannot find any information on how to combine data into a single plot. I have also looked at the examples, but either I miss something or I am looking in the wrong place.

I have a number of color measurements (originally in a known RGB space, but I can convert these to xy or uv or another space). I want to plot these on a chromat

[2020-08-30 22:12] sobotka commented on #627
https://colour.readthedocs.io/en/latest/generated/colour.plotting.plot_RGB_chromaticities_in_chromaticity_diagram_CIE1931.html#colour.plotting.plot_RGB_chromaticities_in_chromaticity_diagram_CIE1931

It will follow the same format as `matplotlib` if you can't find the functionality with the default functions. For example, [you can plot the CIE 1931 chromaticity diagram](https://colour.readthedocs.

[2020-08-30 23:26] jackjansen commented on #627
Thank you very much, that should get me underway!

I still have the feeling that it would be good if this was documented, there is very little documentation (or example code) for adapting graphs. For example, I discovered the `standalone=False` option only by browsing the source code, because it is documented in the `render` class, not on the toplevel `plotting` methods, which makes it difficult t

[2020-08-31 02:16] sobotka commented on #627
Feel free to update this report if you need further help!

The `standalone=False` is an extension of MatPlotLib arguments, which is a deep rabbit hole unto itself. Given Colour builds atop MatPlotLib, it is what it is, and fair to accept that to maximize plot control that it will require a bit of MatPlotLib research.

[2020-08-31 06:59] KelSolaar commented on #627
Hello @jackjansen,

There is an example on how to do that at the end of the tutorial:

- https://colour.readthedocs.io/en/develop/tutorial.html#convert-to-chromaticity-coordinates
- https://colab.research.google.com/drive/1Im9J7or9qyClQCv5sPHmKdyiQbG4898K#scrollTo=2uMiT_4bqdOT

or here in the How-To guide:

- https://colab.research.google.com/drive/1NRcdXSCshivkwoU2nieCvC3y14fx1X4X#scrollTo=UOFT98

[2020-08-31 07:13] KelSolaar commented on #626
Hi @jackjansen,

_Matplotlib_ is an optional dependency and it should be here in the `setup.py` file: https://github.com/colour-science/colour/blob/develop/setup.py#L147

We only give installation steps for the core in the [README.rst](https://github.com/colour-science/colour#4installation) file but there is a link at the end of the section to this page which has all the details to get the various

[2020-08-31 08:27] KelSolaar commented on #626
There should be a message and better documentation now!

[code]

[2020-08-31 08:27] #626 closed

[2020-08-31 13:18] jackjansen commented on #627
Ah! https://colour.readthedocs.io/en/develop/tutorial.html#convert-to-chromaticity-coordinates is _exactly_ the example I would have needed. But, being the last example I didn't get this far, also because its title doesn't suggest that it has anything to do with plotting.

Can I suggest you modify the title of the example to something like _Converting to chromaticy coordinates and advanced plottin

[2020-09-01 07:48] KelSolaar commented on #627
I think more than that we need a good dedicated section in the docs we can refer to and highlighting how things works! But yeah, we will make that more obvious as I realise that while I'm comfortable with the plotting API, many people are not.

[2020-09-18 00:11] ValZapod commented on #446
https://code.videolan.org/videolan/libplacebo/-/commit/f793fc0480f and in mpv https://github.com/mpv-player/mpv/commit/c9f6c458ea54f595127684a3bcd94f578ec42b1f but not perfect. https://github.com/mpv-player/mpv/issues/7984

[2020-09-25 20:40] KelSolaar opened #629 "Expose weights as parameter wherever relevant in the various Delta E computation definitions."
References
---
- https://gitter.im/colour-science/colour?at=5f622c705fde567ffa4f66f5

[2020-10-02 21:09] tenberg commented on #629
Thanks for opening this. Work ramped up, I forgot and then remembered... I get excited about this and then work happens. Good thing I like what I do!

[2020-10-02 21:11] KelSolaar commented on #629
No worries, we are all in a very similar boat by the look of it!

[2020-10-03 20:15] priikone opened #630 "Out-of-gamut colours with CAM16 to RGB conversion?"
I was playing around with the CAM16 example code in https://colab.research.google.com/drive/1NRcdXSCshivkwoU2nieCvC3y14fx1X4X#scrollTo=bmNd5PS2iGZw trying to see how low a lightness value I need to get those same dark blues we see with RGB at 0.5, and this is what happened with 0.05:

[code]
![image](https://user-images.githubusercontent.com/7447241/95000659-696a3480-05cb-11eb-8cbe-27da3191115b.pn

[2020-10-03 20:29] KelSolaar commented on #630
Hi @priikone,

The values are seemingly out-of-gamut for CIECAM02/CAM16 which is quite common. I will take a look a bit later!

Cheers,

Thomas

[2020-10-04 07:25] KelSolaar commented on #630
I spent some time looking at that and would need to spend some more but I could not really find anything defective so far, the automatic colour conversion graph also generates the same result than the manual path.

My gut feeling is that the model will not allow for very dark and fully saturated colours to be represented without some defects as they are outside the datasets used to fit the model.

[2020-10-04 10:04] priikone commented on #630
Yeah, I played around with desaturation as well and doing that seems to work.  It does behave strangely though, going very easily out of gamut if lightness is low.  Without desaturating I see the blues start to go out of whack already around 25% lightness it seems...

I tested also with RawTherapee which supports CIECAM02, and seems it enforces some limits to avoid most issues but with that as wel